## People Centered COS - Convert CDOT Data format (2007-2020) to the 2021+ data format 

 #### Part 1 - Convert information on road condition, lighting, location, number of vehicles and people etc. 

 #### Part 2 - (THIS NOTEBOOK) - Convert vechile and non-motorist attributes and speeds etc.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

### Load CDOT csvs

In [4]:
cdot_base_path = "/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/"

In [5]:
# Load CDOT Data from new data format (2021+) 

year_new = 2023
filename_new = f"CDOTRM_CD_Crash_Listing_-_{year_new}.xlsx"

full_path_new = cdot_base_path + filename_new
print(full_path_new)

cdot_new_pdf = pd.read_excel(full_path_new)
display(cdot_new_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2023.xlsx

,CUID,System Code,Rd_Number,Rd_Section,City_Street,Crash Date,Crash Time,Agency Id,City,County,...,TU-2 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected,Record Status,Processing Status,Last Updated
0,296027,City Street,0455,VERMO,TIMBE,2023-01-01,00:00:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Aug 4 2023 11:35PM
1,299624,City Street,0455,HARMO,TIMBE,2023-01-01,00:03:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Apr 6 2023 10:08PM
2,289075,City Street,0320,KALAM,CEDAR,2023-01-01,00:09:00,DPD,DENVER,DENVER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 8 2023 8:29PM
3,293978,City Street,0055,LINVA,LARED,2023-01-01,00:16:00,AURPD,AURORA,ARAPAHOE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,May 5 2023 8:02PM
4,299717,State Highway,095A,12.906,NaN,2023-01-01,00:34:00,WMPD,WESTMINSTER,JEFFERSON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 15 2023 1:35PM

In [6]:
# Load CDOT Data from old data format (2007-2020) 

year = 2020
filename_old = f"CDOTRM_CD_Crash_Listing_-_{year}.xlsx"

full_path_old = cdot_base_path + filename_old
print(full_path_old)

cdot_old_pdf = pd.read_excel(full_path_old)
display(cdot_old_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2020.xlsx

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,DRVINJ_1,DRVINJ_2,DRVINJ_3,DUI_1,DUI_2,DUI_3,CITY,COUNTY,LATITUDE,LONGITUDE
0,COUNTY ROAD,0,NaN,0.0,2020-01-01,0.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,NaN,MESA,0.000000,0.000000
1,CITY STREET,0,NaN,0.0,2020-01-01,1.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,GYPSUM,EAGLE,0.000000,0.000000
2,STATE HIGHWAY,160,A,123.1,2020-01-01,1.0,INJ,1,1,0,...,POSSIBLE/COMPLAINT OF INJURY,NaN,NaN,N,N,N,NaN,ARCHULETA,37.204663,-107.329465
3,CITY STREET,0,NaN,0.0,2020-01-01,6.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,CENTENNIAL,ARAPAHOE,39.578560,-104.807100
4,CITY STREET,0,NaN,0.0,2020-01-01,13.0,INJ,0,1,0,...,NaN,NaN,NaN,N,N,N,DENVER,DENVER,39.746541,-105.007589

### Inspect Data

## Convert Data

In [9]:
import numpy as np

In [40]:
print(list(cdot_new_pdf.columns))

['CUID', 'System Code', 'Rd_Number', 'Rd_Section', 'City_Street', 'Crash Date', 'Crash Time', 'Agency Id', 'City', 'County', 'Latitude', 'Longitude', 'Location 1', 'Link', 'Location 2', 'Location', 'Road Description', 'First HE', 'Second HE', 'Third HE', 'Fourth HE', 'MHE', 'Crash Type', 'Approach Overtaking Turn', 'Wild Animal', 'Number Killed', 'Number Injured', 'Injury 00', 'Injury 01', 'Injury 02', 'Injury 03', 'Injury 04', 'Total Vehicles', 'Secondary Crash', 'Construction Zone', 'School Zone', 'Road Contour Curves', 'Road Contour Grade', 'Road Condition', 'Lighting Conditions', 'Weather Condition', 'Weather Condition 2', 'Lane Position', 'TU-1 Direction', 'TU-2 Direction', 'TU-1 Movement', 'TU-2 Movement', 'TU-1 Type', 'TU-2 Type', 'TU-1 Special Function', 'TU-2 Special Function', 'TU-1 Autonomous Vehicle', 'TU-2 Autonomous Vehicle', 'TU-1 Hit And Run', 'TU-2 Hit And Run', 'TU-1 Speed Limit', 'TU-2 Speed Limit', 'TU-1 Estimated Speed', 'TU-2 Estimated Speed', 'TU-1 Speed', 'TU-2 Speed', 'TU-1 Driver Action', 'TU-2 Driver Action', 'TU-1 Human Contributing Factor', 'TU-2 Human Contributing Factor', 'TU-1 Age', 'TU-2 Age', 'TU-1 Sex ', 'TU-2 Sex', 'TU-1 Safety System Available ', 'TU-2 Safety System Available ', 'TU-1 Safety restraint Use', 'TU-2 Safety restraint Use', 'TU-1 Safety Helmet', 'TU-2  Safety Helmet', 'TU-1 Alcohol Suspected', 'TU-2 Alcohol Suspected', 'TU-1  Marijuana Suspected', 'TU-2 Marijuana Suspected', 'TU-1 Other Drugs Suspected ', 'TU-2 Other Drugs Suspected ', 'TU-1 NM Direction', 'TU-2 NM Direction', 'TU-1 NM Movement', 'TU-2 NM Movement', 'TU-1 NM Facility Available', 'TU-2 NM Facility Available', 'TU-1 NM Location ', 'TU-2 NM Location ', 'TU-1 NM Type', 'TU-2 NM Type', 'TU-1 NM Age ', 'TU-2 NM Age ', 'TU-1 NM Sex ', 'TU-2 NM Sex ', 'TU-1 NM Action ', 'TU-2 NM Action ', 'TU-1 NM Human Contributing Factor ', 'TU-2 NM Human Contributing Factor ', 'TU-1 NM Safety Helmet ', 'TU-2 NM Safety Helmet ', 'TU-1 NM Alcohol Suspected ', 'TU-2 NM Alcohol Suspected ', 'TU-1 NM Marijuana Suspected ', 'TU-2 NM Marijuana Suspected ', 'TU-1 NM Other Drugs Suspected ', 'TU-2 NM Other Drugs Suspected ', 'Record Status', 'Processing Status', 'Last Updated']

### Parse out Motorists and Non-Motorists

#### Investigate Column Relationships

In [33]:
cdot_old_pdf['ACCTYPE'].unique()

array(['PARKED MOTOR VEHICLE', 'CURB/RAISED MEDIAN', 'WILD ANIMAL',
       'VEHICLE CARGO/DEBRIS', 'LIGHT/UTILITY POLE',
       'SIDESWIPE (SAME DIRECTION)', 'CRASH CUSHION', 'OVERTURNING',
       'TREE/SHRUBBERY', 'REAR-END', 'BROADSIDE',
       'EMBANKMENT CUT/FILL SLOPE', 'APPROACH TURN',
       'TRAFFIC SIGNAL POLE', 'SIGN', 'FENCE', 'CABLE RAIL',
       'CONCRETE BARRIER', 'OVERTAKING TURN', 'HEAD-ON', 'GUARD RAIL',
       'SIDESWIPE (OPPOSITE DIRECTION)', 'BRIDGE RAIL', 'DELINEATOR POST',
       'LARGE BOULDERS OR ROCKS', 'OTHER FIXED OBJECT',
       'INVOLVING OTHER OBJECT', 'BICYCLE', 'PEDESTRIAN',
       'OTHER NON-COLLISION', 'DOMESTIC ANIMAL', 'MAILBOX',
       'CULVERT/HEADWALL', 'RAILWAY VEHICLE', 'WALL/BUILDING',
       'BARRICADE/TRAFFIC BARRIER', nan, 'ROAD MAINTENANCE EQUIPMENT'],
      dtype=object)

In [34]:
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_1'] == 'MOTORIZED BICYCLE', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2
17316,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PICKUP TRUCK/UTILITY VAN,NaN,35,60
20328,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,51,84
23911,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,14,20
27688,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,SUV,NaN,23,43
34162,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,61,47
34221,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,SUV,NaN,14,24
36945,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,48,49

In [35]:
cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'BICYCLE', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2
156,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,PASSENGER CAR/VAN,NaN,41,25
237,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,BICYCLE,NaN,0,35
371,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,MOTORIZED BICYCLE,NaN,0,33
377,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,SUV,NaN,23,64
486,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,73,30
...,...,...,...,...,...,...,...,...,...,...
84025,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,PICKUP TRUCK/UTILITY VAN,NaN,0,55
84729,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,BICYCLE,NaN,0,30
84839,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,18,50
85895,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,38,33
86074,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,SUV,BICYCLE,NaN,39,48

In [36]:
cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2', 'AGE_3']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2,AGE_3
189,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PASSENGER CAR/VAN,OTHER - SEE REPORT,NaN,24,67,0
240,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,SUV,NaN,0,28,0
307,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,SUV,NaN,41,64,0
400,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PASSENGER CAR/VAN,OTHER - SEE REPORT,NaN,24,57,0
531,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PICKUP TRUCK/UTILITY VAN,OTHER - SEE REPORT,NaN,71,56,0
...,...,...,...,...,...,...,...,...,...,...,...
86067,PEDESTRIAN,PEDESTRIAN,PARKED MOTOR VEHICLE,NaN,PEDESTRIAN,PASSENGER CAR/VAN,PICKUP TRUCK/UTILITY VAN,OTHER - SEE REPORT,21,0,67
86131,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,HIT & RUN - UNKNOWN,OTHER - SEE REPORT,NaN,0,14,0
86167,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,SUV,OTHER - SEE REPORT,NaN,38,2,0
86198,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,PICKUP TRUCK/UTILITY VAN,NaN,51,53,0
86248,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,PICKUP TRUCK/UTILITY VAN,NaN,3,23,0

#### Start writing conversion code

In [41]:
# initialize all NM columns to empty strings 

# when none of the vehicles involved in a crash are non-motorists 
# then the TU-X NM columns will be empty strings 

# add a third vehicle and non-motorist to map VEHICLE_3 to from old format 

nm_columns = [
     'TU-1 Direction',
     'TU-2 Direction',
     'TU-3 Direction',
     'TU-1 Movement',
     'TU-2 Movement',
     'TU-3 Movement',
     'TU-1 Type',
     'TU-2 Type',
     'TU-3 Type',
     'TU-1 Special Function',
     'TU-2 Special Function',
     'TU-3 Special Function',
     'TU-1 Autonomous Vehicle',
     'TU-2 Autonomous Vehicle',
     'TU-3 Autonomous Vehicle',
     'TU-1 Speed Limit',
     'TU-2 Speed Limit',
     'TU-3 Speed Limit',
     'TU-1 Estimated Speed',
     'TU-2 Estimated Speed',
     'TU-3 Estimated Speed',
     'TU-1 Human Contributing Factor',
     'TU-2 Human Contributing Factor',
     'TU-3 Human Contributing Factor',
     'TU-1 Age',
     'TU-2 Age',
     'TU-3 Age',
     'TU-1 Sex ',
     'TU-2 Sex',
     'TU-3 Sex',
     'TU-1 Safety System Available ',
     'TU-2 Safety System Available ',
     'TU-3 Safety System Available',
     'TU-1 Safety restraint Use',
     'TU-2 Safety restraint Use',
     'TU-3 Safety restraint Use', 
     'TU-1 Safety Helmet',
     'TU-2  Safety Helmet',
     'TU-3 Safety Helmet',
     'TU-1 Alcohol Suspected',
     'TU-2 Alcohol Suspected',
     'TU-3 Alcohol Suspected',
     'TU-1  Marijuana Suspected',
     'TU-2 Marijuana Suspected',
     'TU-3 Marjijuana Suspected',
     'TU-1 Other Drugs Suspected ',
     'TU-2 Other Drugs Suspected ',
     'TU-3 Other Drugs Suspected ',
     'TU-1 NM Direction',
     'TU-2 NM Direction',
     'TU-3 NM Direction', 
     'TU-1 NM Movement',
     'TU-2 NM Movement',
     'TU-3 NM Movement', 
     'TU-1 NM Type',
     'TU-2 NM Type',
     'TU-3 NM Type',
     'TU-1 NM Age ',
     'TU-2 NM Age ',
     'TU-3 NM Age ', 
     'TU-1 NM Sex ',
     'TU-2 NM Sex ',
     'TU-3 NM Sex ',
     'TU-1 NM Human Contributing Factor ',
     'TU-2 NM Human Contributing Factor ',
     'TU-3 NM Human Contributing Factor ',
     'TU-1 NM Safety Helmet ',
     'TU-2 NM Safety Helmet ',
     'TU-3 NM Safety Helmet ', 
     'TU-1 NM Alcohol Suspected ',
     'TU-2 NM Alcohol Suspected ',
     'TU-3 NM Alcohol Suspected ',
     'TU-1 NM Marijuana Suspected ',
     'TU-2 NM Marijuana Suspected ',
     'TU-3 NM Marijuana Suspected ', 
     'TU-1 NM Other Drugs Suspected ',
     'TU-2 NM Other Drugs Suspected ',
     'TU-3 NM Other Drugs Suspected ',
    ] 

for nm_col in nm_columns:
    cdot_old_pdf[nm_col] = ''

display(cdot_old_pdf.head(5))

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,TU-1 NM Human Contributing Factor,TU-2 NM Human Contributing Factor,TU-1 NM Safety Helmet,TU-2 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected
0,COUNTY ROAD,0,NaN,0.0,2020-01-01,0.0,PDO,0,0,0,...,,,,,,,,,,
1,CITY STREET,0,NaN,0.0,2020-01-01,1.0,PDO,0,0,0,...,,,,,,,,,,
2,STATE HIGHWAY,160,A,123.1,2020-01-01,1.0,INJ,1,1,0,...,,,,,,,,,,
3,CITY STREET,0,NaN,0.0,2020-01-01,6.0,PDO,0,0,0,...,,,,,,,,,,
4,CITY STREET,0,NaN,0.0,2020-01-01,13.0,INJ,0,1,0,...,,,,,,,,,,

In [42]:
# Identify which VEHICLE_X columns need to be converted to NM columns in new format 

# When the accident type is Pedestrian the vast majority of the time the "VEHICLE_X" column that says "OTHER - SEE REPORT" is referring to a pedestrian 
# there are a handful of accidents that have multiple "VEHICLE_X" columns that say "OTHER - SEE REPORT" so it is ambiguous which X is the pedestrian 

cdot_old_pdf['vehicle_1_is_nm'] = ''
cdot_old_pdf['vehicle_2_is_nm'] = ''
cdot_old_pdf['vehicle_3_is_nm'] = ''

cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_1'] == 'OTHER - SEE REPORT'), 'vehicle_1_is_nm'] = 'Pedestrian'
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_2'] == 'OTHER - SEE REPORT'), 'vehicle_2_is_nm'] = 'Pedestrian'
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_3'] == 'OTHER - SEE REPORT'), 'vehicle_3_is_nm'] = 'Pedestrian'

display(cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN', 
['ACCTYPE', 'VEHICLE_1', 'vehicle_1_is_nm', 'VEHICLE_2', 'vehicle_2_is_nm', 'VEHICLE_3', 'vehicle_3_is_nm']])

# Old format has Bicycle as a type of vehicle, so filter for VEHICLE_X == BICYCLE or MOTORIZED BICYCLE, then slot those in as non-motorists 
# accident type isn't always bicycle when a bicycle is involved 

cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_1'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_1'] == 'MOTORIZED BICYCLE'), 'vehicle_1_is_nm'] = 'Bicyclist'
cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_2'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_2'] == 'MOTORIZED BICYCLE'), 'vehicle_2_is_nm'] = 'Bicyclist'
cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_3'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_3'] == 'MOTORIZED BICYCLE'), 'vehicle_3_is_nm'] = 'Bicyclist'

display(cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'BICYCLE', 
['ACCTYPE', 'VEHICLE_1', 'vehicle_1_is_nm', 'VEHICLE_2', 'vehicle_2_is_nm', 'VEHICLE_3', 'vehicle_3_is_nm']])

,ACCTYPE,VEHICLE_1,vehicle_1_is_nm,VEHICLE_2,vehicle_2_is_nm,VEHICLE_3,vehicle_3_is_nm
189,PEDESTRIAN,PASSENGER CAR/VAN,,OTHER - SEE REPORT,Pedestrian,NaN,
240,PEDESTRIAN,OTHER - SEE REPORT,Pedestrian,SUV,,NaN,
307,PEDESTRIAN,OTHER - SEE REPORT,Pedestrian,SUV,,NaN,
400,PEDESTRIAN,PASSENGER CAR/VAN,,OTHER - SEE REPORT,Pedestrian,NaN,
531,PEDESTRIAN,PICKUP TRUCK/UTILITY VAN,,OTHER - SEE REPORT,Pedestrian,NaN,
...,...,...,...,...,...,...,...
86067,PEDESTRIAN,PASSENGER CAR/VAN,,PICKUP TRUCK/UTILITY VAN,,OTHER - SEE REPORT,Pedestrian
86131,PEDESTRIAN,HIT & RUN - UNKNOWN,,OTHER - SEE REPORT,Pedestrian,NaN,
86167,PEDESTRIAN,SUV,,OTHER - SEE REPORT,Pedestrian,NaN,
86198,PEDESTRIAN,OTHER - SEE REPORT,Pedestrian,PICKUP TRUCK/UTILITY VAN,,NaN,
86248,PEDESTRIAN,OTHER - SEE REPORT,Pedestrian,PICKUP TRUCK/UTILITY VAN,,NaN,

,ACCTYPE,VEHICLE_1,vehicle_1_is_nm,VEHICLE_2,vehicle_2_is_nm,VEHICLE_3,vehicle_3_is_nm
156,BICYCLE,BICYCLE,Bicyclist,PASSENGER CAR/VAN,,NaN,
237,BICYCLE,HIT & RUN - UNKNOWN,,BICYCLE,Bicyclist,NaN,
371,BICYCLE,HIT & RUN - UNKNOWN,,MOTORIZED BICYCLE,Bicyclist,NaN,
377,BICYCLE,BICYCLE,Bicyclist,SUV,,NaN,
486,BICYCLE,PASSENGER CAR/VAN,,BICYCLE,Bicyclist,NaN,
...,...,...,...,...,...,...,...
84025,BICYCLE,BICYCLE,Bicyclist,PICKUP TRUCK/UTILITY VAN,,NaN,
84729,BICYCLE,HIT & RUN - UNKNOWN,,BICYCLE,Bicyclist,NaN,
84839,BICYCLE,PASSENGER CAR/VAN,,BICYCLE,Bicyclist,NaN,
85895,BICYCLE,PASSENGER CAR/VAN,,BICYCLE,Bicyclist,NaN,
86074,BICYCLE,SUV,,BICYCLE,Bicyclist,NaN,

In [45]:
# In the new data format, if the accident is between a motorist and a non-motorist
# there is no re-use of the 1, 2 numbers 
# TU-1 Type = Null 
# TU-2 Type = SUV
# TU-1 NM = Pedestrian 

# If VEHICLE_X is a non-motorist, then all COL_X columns are converted to TU-X NM columns 

# set non-motorist type to be the vehicle_x_is_nm indicator column
cdot_old_pdf['TU-1 NM Type'] = cdot_old_pdf['vehicle_1_is_nm']
cdot_old_pdf['TU-2 NM Type'] = cdot_old_pdf['vehicle_2_is_nm']
cdot_old_pdf['TU-3 NM Type'] = cdot_old_pdf['vehicle_3_is_nm']

# set the motorist type (TU-X Type) to be empty when vehicle_x_is_nm is not empty
cdot_old_pdf.loc[cdot_old_pdf['vehicle_1_is_nm'] != '', 'TU-1 Type'] = ''
cdot_old_pdf.loc[cdot_old_pdf['vehicle_2_is_nm'] != '', 'TU-2 Type'] = ''
cdot_old_pdf.loc[cdot_old_pdf['vehicle_3_is_nm'] != '', 'TU-3 Type'] = ''

display(cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'BICYCLE', 
['ACCTYPE', 'VEHICLE_1', 'TU-1 Type', 'TU-1 NM Type', 'VEHICLE_2', 'TU-2 Type', 'TU-2 NM Type']])

,ACCTYPE,VEHICLE_1,TU-1 Type,TU-1 NM Type,VEHICLE_2,TU-2 Type,TU-2 NM Type
156,BICYCLE,BICYCLE,,Bicyclist,PASSENGER CAR/VAN,,
237,BICYCLE,HIT & RUN - UNKNOWN,,,BICYCLE,,Bicyclist
371,BICYCLE,HIT & RUN - UNKNOWN,,,MOTORIZED BICYCLE,,Bicyclist
377,BICYCLE,BICYCLE,,Bicyclist,SUV,,
486,BICYCLE,PASSENGER CAR/VAN,,,BICYCLE,,Bicyclist
...,...,...,...,...,...,...,...
84025,BICYCLE,BICYCLE,,Bicyclist,PICKUP TRUCK/UTILITY VAN,,
84729,BICYCLE,HIT & RUN - UNKNOWN,,,BICYCLE,,Bicyclist
84839,BICYCLE,PASSENGER CAR/VAN,,,BICYCLE,,Bicyclist
85895,BICYCLE,PASSENGER CAR/VAN,,,BICYCLE,,Bicyclist
86074,BICYCLE,SUV,,,BICYCLE,,Bicyclist

In [ ]:
# when VEHICLE_1 maps to NM 
# then all columns need to map to NM columns 

# make conversions first and then change column name???
# depends on how to map based on which columns are relevatn ... 

# Characteristics for both NM and Motorists
# Age, AGE_1 --> TU-1 NM Age 
# Sex, SEX 
# Direction, DIR
# Movement, VEH_MOVE

# Characteristics for just Motorists 
# Speed Limit, LIMIT
# Estimated Speed, SPEED
#

In [ ]:
# Convert VEHICLE_1 (old column) to TU-1 Type (new column)
# TODO - MAP when possible

# And segment the Non-motorists out of the old format and note which vehicle number is the non-motorist if any 
old_column = 'VEHICLE_1'
new_column = 'TU-1 Type'
new_column2 = 'TU-1 NM Type'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())

map_vehicle_x = {'HIT & RUN - UNKNOWN': '', 
                 'PICKUP TRUCK/UTILITY VAN': 'Pickup Truck/Utility Van', 
                 'PASSENGER CAR/VAN': 'Passenger Car/Passenger Van', 
                 'SUV': 'SUV', 
                 'UNKNOWN': 'Unknown',
                 'MOTORCYCLE': 'Motorcycle', 
                 'PASSENGER CAR/VAN W/TRAILER': 'Passenger Car/Passenger Van with Trailer - RET',
                 'SCHOOL BUS < 15 PEOPLE': 'School Bus (all school buses)',
                 'FARM EQUIPMENT': 'Farm Equipment',
                 'MOTOR HOME': 'Motor Home',
                 'TRUCK GVW > 10K/BUSSES > 15 PEOPLE': 'old__truck_gvw_gr_10k_busses_gr_15_people',
                 'SUV W/TRAILER': 'old__SUV_w_trailer',
                 'PICKUP TRUCK/UTILITY VAN W/TRAILER': 'old__pickup_truck_utility_van_w_trailer',
                 'MOTORIZED BICYCLE': 'old__motorized_bicycle',
                 'BICYCLE': 'old__bicyle',
                 'NON-SCHOOL BUS < 15 PEOPLE': '',
                 'OTHER - SEE REPORT': 'Other Vehicle Type (Describe in Narrative)',
                }