## People Centered COS - Convert CDOT Data format (2007-2020) to the 2021+ data format
## CHECK THE UTILITY FUNCTION WORKS 

 #### Part 1 - another notebook convert information on road condition, lighting, location, number of vehicles and people etc. 

 #### Part 2 - (THIS NOTEBOOK) - will handle the mapping from vechile and non-motorist attributes and speeds etc.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

### Load CDOT csvs

In [4]:
cdot_base_path = "/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/"

In [5]:
# Load CDOT Data from new data format (2021+) 

year_new = 2024
filename_new = f"CDOTRM_CD_Crash_Listing_-_{year_new}.xlsx"

full_path_new = cdot_base_path + filename_new
print(full_path_new)

cdot_new_pdf = pd.read_excel(full_path_new)
display(cdot_new_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2024.xlsx

,CUID,System Code,Rd_Number,Rd_Section,City_Street,Crash Date,Crash Time,Agency Id,City,County,...,TU-2 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected,Record Status,Processing Status,Last Updated
0,453608,City Street,0320,SANTA,THAVE,2024-01-01,00:16:00,DPD,DENVER,DENVER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Jun 13 2024 2:21PM
1,420975,State Highway,391A,8.482,NaN,2024-01-01,00:34:00,WRPD,WHEAT RIDGE,JEFFERSON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 26 2024 10:46PM
2,466850,State Highway,093A,16.461,NaN,2024-01-01,00:34:00,BLDPD,BOULDER,BOULDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Jun 27 2024 12:21AM
3,453551,City Street,1285,THAVE,COLOR,2024-01-01,00:37:00,THPD,THORNTON,ADAMS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Jun 13 2024 2:20PM
4,467394,State Highway,082A,29.988,NaN,2024-01-01,00:40:00,CSP,NaN,PITKIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Jun 19 2024 1:03PM

In [6]:
# Load CDOT Data from old data format (2007-2020) 

year = 2020
filename_old = f"CDOTRM_CD_Crash_Listing_-_{year}.xlsx"

full_path_old = cdot_base_path + filename_old
print(full_path_old)

cdot_old_pdf = pd.read_excel(full_path_old)
display(cdot_old_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2020.xlsx

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,DRVINJ_1,DRVINJ_2,DRVINJ_3,DUI_1,DUI_2,DUI_3,CITY,COUNTY,LATITUDE,LONGITUDE
0,COUNTY ROAD,0,NaN,0.0,2020-01-01,0.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,NaN,MESA,0.000000,0.000000
1,CITY STREET,0,NaN,0.0,2020-01-01,1.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,GYPSUM,EAGLE,0.000000,0.000000
2,STATE HIGHWAY,160,A,123.1,2020-01-01,1.0,INJ,1,1,0,...,POSSIBLE/COMPLAINT OF INJURY,NaN,NaN,N,N,N,NaN,ARCHULETA,37.204663,-107.329465
3,CITY STREET,0,NaN,0.0,2020-01-01,6.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,CENTENNIAL,ARAPAHOE,39.578560,-104.807100
4,CITY STREET,0,NaN,0.0,2020-01-01,13.0,INJ,0,1,0,...,NaN,NaN,NaN,N,N,N,DENVER,DENVER,39.746541,-105.007589

### Inspect Data

In [7]:
print(cdot_new_pdf.info(verbose=True, show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92810 entries, 0 to 92809
Data columns (total 110 columns):
 #    Column                              Non-Null Count  Dtype
---   ------                              --------------  -----
 0    CUID                                92810 non-null  int64
 1    System Code                         92804 non-null  object
 2    Rd_Number                           92436 non-null  object
 3    Rd_Section                          91776 non-null  object
 4    City_Street                         51847 non-null  object
 5    Crash Date                          92810 non-null  datetime64[ns]
 6    Crash Time                          92632 non-null  object
 7    Agency Id                           92770 non-null  object
 8    City                                68696 non-null  object
 9    County                              92742 non-null  object
 10   Latitude                            87175 non-null  float64
 11   Longitude                           87177 non-null  float64
 12   Location 1                          92606 non-null  object
 13   Link                                92803 non-null  object
 14   Location 2                          91043 non-null  object
 15   Location                            92780 non-null  object
 16   Road Description                    92770 non-null  object
 17   First HE                            92767 non-null  object
 18   Second HE                           20048 non-null  object
 19   Third HE                            5293 non-null   object
 20   Fourth HE                           1586 non-null   object
 21   MHE                                 92545 non-null  object
 22   Crash Type                          90423 non-null  object
 23   Approach Overtaking Turn            92721 non-null  object
 24   Wild Animal                         2600 non-null   object
 25   Number Killed                       92810 non-null  int64
 26   Number Injured                      92810 non-null  int64
 27   Injury 00                           92810 non-null  int64
 28   Injury 01                           92810 non-null  int64
 29   Injury 02                           92810 non-null  int64
 30   Injury 03                           92810 non-null  int64
 31   Injury 04                           92810 non-null  int64
 32   Total Vehicles                      92809 non-null  float64
 33   Secondary Crash                     92809 non-null  float64
 34   Construction Zone                   92809 non-null  float64
 35   School Zone                         92809 non-null  float64
 36   Road Contour Curves                 85456 non-null  object
 37   Road Contour Grade                  85635 non-null  object
 38   Road Condition                      92279 non-null  object
 39   Lighting Conditions                 92259 non-null  object
 40   Weather Condition                   91943 non-null  object
 41   Weather Condition 2                 5859 non-null   object
 42   Lane Position                       82131 non-null  object
 43   TU-1 Direction                      91325 non-null  object
 44   TU-2 Direction                      72483 non-null  object
 45   TU-1 Movement                       91346 non-null  object
 46   TU-2 Movement                       72701 non-null  object
 47   TU-1 Type                           91348 non-null  object
 48   TU-2 Type                           72717 non-null  object
 49   TU-1 Special Function               83382 non-null  object
 50   TU-2 Special Function               69472 non-null  object
 51   TU-1 Autonomous Vehicle             84928 non-null  object
 52   TU-2 Autonomous Vehicle             70460 non-null  object
 53   TU-1 Hit And Run                    92810 non-null  bool
 54   TU-2 Hit And Run                    92810 non-null  bool
 55   TU-1 Speed Limit                    92810 non-null  int64
 56   TU-2 Speed Limit                    92810 non-null  int64
 57   TU-1 Estimated Speed                92810 non-null  int64
 58   TU-2 Estimated Speed                92810 non-null  int64
 59   TU-1 Speed                          92810 non-null  int64
 60   TU-2 Speed                          92810 non-null  int64
 61   TU-1 Driver Action                  85035 non-null  object
 62   TU-2 Driver Action                  68339 non-null  object
 63   TU-1 Human Contributing Factor      81256 non-null  object
 64   TU-2 Human Contributing Factor      68038 non-null  object
 65   TU-1 Age                            80394 non-null  float64
 66   TU-2 Age                            66153 non-null  float64
 67   TU-1 Sex                            79781 non-null  object
 68   TU-2 Sex                            65608 non-null  object
 69   TU-1 Safety System Available        76408 non-null  object
 70   TU-2 Safety System Available        61153 non-null  object
 71   TU-1 Safety restraint Use           78477 non-null  object
 72   TU-2 Safety restraint Use           61867 non-null  object
 73   TU-1 Safety Helmet                  79900 non-null  object
 74   TU-2  Safety Helmet                 63301 non-null  object
 75   TU-1 Alcohol Suspected              77124 non-null  object
 76   TU-2 Alcohol Suspected              62290 non-null  object
 77   TU-1  Marijuana Suspected           81046 non-null  object
 78   TU-2 Marijuana Suspected            63593 non-null  object
 79   TU-1 Other Drugs Suspected          76974 non-null  object
 80   TU-2 Other Drugs Suspected          61825 non-null  object
 81   TU-1 NM Direction                   994 non-null    object
 82   TU-2 NM Direction                   1695 non-null   object
 83   TU-1 NM Movement                    1109 non-null   object
 84   TU-2 NM Movement                    1817 non-null   object
 85   TU-1 NM Facility Available          1695 non-null   object
 86   TU-2 NM Facility Available          1695 non-null   object
 87   TU-1 NM Location                    1114 non-null   object
 88   TU-2 NM Location                    1816 non-null   object
 89   TU-1 NM Type                        1116 non-null   object
 90   TU-2 NM Type                        1817 non-null   object
 91   TU-1 NM Age                         839 non-null    float64
 92   TU-2 NM Age                         1498 non-null   float64
 93   TU-1 NM Sex                         1108 non-null   object
 94   TU-2 NM Sex                         1809 non-null   object
 95   TU-1 NM Action                      1112 non-null   object
 96   TU-2 NM Action                      1813 non-null   object
 97   TU-1 NM Human Contributing Factor   1028 non-null   object
 98   TU-2 NM Human Contributing Factor   1641 non-null   object
 99   TU-1 NM Safety Helmet               956 non-null    object
 100  TU-2 NM Safety Helmet               1553 non-null   object
 101  TU-1 NM Alcohol Suspected           975 non-null    object
 102  TU-2 NM Alcohol Suspected           1603 non-null   object
 103  TU-1 NM Marijuana Suspected         1007 non-null   object
 104  TU-2 NM Marijuana Suspected         1642 non-null   object
 105  TU-1 NM Other Drugs Suspected       962 non-null    object
 106  TU-2 NM Other Drugs Suspected       1586 non-null   object
 107  Record Status                       92810 non-null  object
 108  Processing Status                   92810 non-null  object
 109  Last Updated                        92810 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(10), int64(14), object(83)
memory usage: 76.7+ MB
None

In [8]:
print(cdot_old_pdf.info(verbose=True, show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86304 entries, 0 to 86303
Data columns (total 84 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SYSTEM      86304 non-null  object
 1   RTE         86304 non-null  int64
 2   SEC         39426 non-null  object
 3   MP          86304 non-null  float64
 4   DATE        86304 non-null  datetime64[ns]
 5   TIME        86207 non-null  float64
 6   SEVERITY    86304 non-null  object
 7   INJURY 00   86304 non-null  int64
 8   INJURY 01   86304 non-null  int64
 9   INJURY 02   86304 non-null  int64
 10  INJURY 03   86304 non-null  int64
 11  INJURY 04   86304 non-null  int64
 12  AGENCYNAME  86276 non-null  object
 13  LOCATION    86304 non-null  object
 14  ROAD_DESC   86304 non-null  object
 15  VEHICLES    86304 non-null  int64
 16  CONTOUR     86304 non-null  object
 17  CONDITION   86304 non-null  object
 18  LIGHTING    86304 non-null  object
 19  WEATHER     86304 non-null  object
 20  LIMIT1      86304 non-null  object
 21  LIMIT2      86304 non-null  object
 22  LIMIT3      86304 non-null  object
 23  RAMP        86304 non-null  object
 24  REGION      86304 non-null  int64
 25  RUCODE      86304 non-null  object
 26  EVENT_1     86260 non-null  object
 27  EVENT_2     19425 non-null  object
 28  EVENT_3     2218 non-null   object
 29  MHE         86041 non-null  object
 30  ACCTYPE     86221 non-null  object
 31  DIR_1       86302 non-null  object
 32  VEHICLE_1   86303 non-null  object
 33  DRIVER_1    86304 non-null  object
 34  FACTOR_1    86291 non-null  object
 35  SPEED_1     86286 non-null  object
 36  VEH_MOVE_1  86302 non-null  object
 37  AGE_1       86304 non-null  int64
 38  SEX_1       75013 non-null  object
 39  STATE_1     74820 non-null  object
 40  BELT_1      67924 non-null  object
 41  DIR_2       65822 non-null  object
 42  VEHICLE_2   65831 non-null  object
 43  DRIVER_2    86304 non-null  object
 44  FACTOR_2    72883 non-null  object
 45  SPEED_2     65547 non-null  object
 46  VEH_MOVE_2  65829 non-null  object
 47  AGE_2       86304 non-null  int64
 48  SEX_2       57453 non-null  object
 49  STATE_2     56908 non-null  object
 50  BELT_2      54348 non-null  object
 51  DIR_3       7802 non-null   object
 52  VEHICLE_3   7803 non-null   object
 53  DRIVER_3    86304 non-null  object
 54  FACTOR_3    35451 non-null  object
 55  SPEED_3     7752 non-null   object
 56  VEH_MOVE_3  7802 non-null   object
 57  AGE_3       86304 non-null  int64
 58  SEX_3       6147 non-null   object
 59  STATE_3     6167 non-null   object
 60  BELT_3      5944 non-null   object
 61  WAN_TYPE    3443 non-null   object
 62  LOC_01      86278 non-null  object
 63  LINK        86000 non-null  object
 64  LOC_02      86020 non-null  object
 65  HAZMAT_1    86304 non-null  object
 66  HAZMAT_2    86304 non-null  object
 67  HAZMAT_3    86304 non-null  object
 68  VIOLCODE_1  53501 non-null  object
 69  VIOLCODE_2  1740 non-null   object
 70  VIOLCODE_3  220 non-null    object
 71  CYCPROT_1   81783 non-null  object
 72  CYCPROT_2   61068 non-null  object
 73  CYCPROT_3   6753 non-null   object
 74  DRVINJ_1    76988 non-null  object
 75  DRVINJ_2    58189 non-null  object
 76  DRVINJ_3    6229 non-null   object
 77  DUI_1       86304 non-null  object
 78  DUI_2       86304 non-null  object
 79  DUI_3       86304 non-null  object
 80  CITY        65166 non-null  object
 81  COUNTY      86304 non-null  object
 82  LATITUDE    86304 non-null  float64
 83  LONGITUDE   86304 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(11), object(68)
memory usage: 55.3+ MB
None

## Convert Data Using Function

In [9]:
import sys  
sys.path.insert(1, '../')

from convert_old_cdot_format_to_new_format import convert_old_cdot_format_to_new_format

In [10]:
converted_cdot_old_pdf = convert_old_cdot_format_to_new_format(cdot_old_pdf)

/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:403: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name] = ''
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:417: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[condition_hit_and_run__true, f"TU-{x} Hit And Run"] = True
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:438: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Sex"] = df[f"SEX_{x}"]
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:439: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df[f"vehicle_{x}_is_nm"] == False, sex_col] = df[f"SEX_{x}"]
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:446: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[df[f"vehicle_{x}_is_nm"] == False, safety_helmet_col] = df[f"CYCPROT_{x}"].map(map_helmet_x_old_to_new)
/Users/haley.northrup/Desktop/PeopleCenteredCOS/beautiful_cos_data_analysis/sandbox/../convert_old_cdot_format_to_new_format.py:467: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.loc[condition_motorist & condition_no_impairment, marijuana_suspected_col] = 'Marijuana Not Suspected'

In [11]:
# TEST COMBINING CONVERTED DATA WITH NEW DATA

combined_cdot_pdf = pd.concat([converted_cdot_old_pdf, cdot_new_pdf])

In [12]:
print(combined_cdot_pdf.info(verbose=True, show_counts=True))

<class 'pandas.core.frame.DataFrame'>
Index: 179114 entries, 0 to 92809
Data columns (total 148 columns):
 #    Column                                                Non-Null Count   Dtype
---   ------                                                --------------   -----
 0    System Code                                           179011 non-null  object
 1    Crash Date                                            179017 non-null  datetime64[ns]
 2    Injury 00                                             179017 non-null  float64
 3    Injury 01                                             179017 non-null  float64
 4    Injury 02                                             179017 non-null  float64
 5    Injury 03                                             179017 non-null  float64
 6    Injury 04                                             179017 non-null  float64
 7    Agency Id                                             178949 non-null  object
 8    Location                                              178717 non-null  object
 9    Road Description                                      178950 non-null  object
 10   Total Vehicles                                        179016 non-null  float64
 11   Road Condition                                        178280 non-null  object
 12   Lighting Conditions                                   178227 non-null  object
 13   Weather Condition                                     177585 non-null  object
 14   First HE                                              164670 non-null  object
 15   Second HE                                             32752 non-null   object
 16   Third HE                                              6998 non-null    object
 17   MHE                                                   164279 non-null  object
 18   Crash Type                                            176550 non-null  object
 19   Location 1                                            178787 non-null  object
 20   Link                                                  178706 non-null  object
 21   Location 2                                            176971 non-null  object
 22   City                                                  133768 non-null  object
 23   County                                                178949 non-null  object
 24   Latitude                                              173382 non-null  float64
 25   Longitude                                             173384 non-null  float64
 26   CUID                                                  92810 non-null   float64
 27   Fourth HE                                             1586 non-null    object
 28   Secondary Crash                                       92809 non-null   float64
 29   Construction Zone                                     92809 non-null   float64
 30   School Zone                                           92809 non-null   float64
 31   Weather Condition 2                                   5859 non-null    object
 32   Lane Position                                         82131 non-null   object
 33   Record Status                                         92810 non-null   object
 34   Processing Status                                     92810 non-null   object
 35   Last Updated                                          92810 non-null   object
 36   TU-1 Special Function                                 83382 non-null   object
 37   TU-2 Special Function                                 69472 non-null   object
 38   TU-3 Special Function                                 0 non-null       float64
 39   TU-1 Autonomous Vehicle                               84928 non-null   object
 40   TU-2 Autonomous Vehicle                               70460 non-null   object
 41   TU-3 Autnomous Vehicle                                0 non-null       float64
 42   TU-1 Speed                                            92810 non-null   float64
 43   TU-2 Speed                                            92810 non-null   float64
 44   TU-3 Speed                                            0 non-null       float64
 45   TU-1 Driver Action                                    85035 non-null   object
 46   TU-2 Driver Action                                    68339 non-null   object
 47   TU-3 Driver Action                                    0 non-null       float64
 48   TU-1 Safety System Available                          76408 non-null   object
 49   TU-2 Safety System Available                          61153 non-null   object
 50   TU-3 Safety System Avaliable                          0 non-null       float64
 51   TU-1 NM Facility Available                            1695 non-null    object
 52   TU-2 NM Facility Available                            1695 non-null    object
 53   TU-3 NM Facility Available                            0 non-null       float64
 54   TU-1 NM Location                                      1114 non-null    object
 55   TU-2 NM Location                                      1816 non-null    object
 56   TU-3 NM Location                                      0 non-null       float64
 57   TU-1 NM Action                                        1112 non-null    object
 58   TU-2 NM Action                                        1813 non-null    object
 59   TU-3 NM Action                                        0 non-null       float64
 60   TU-1 Type                                             177554 non-null  object
 61   TU-1 NM Type                                          87323 non-null   object
 62   TU-2 Type                                             138481 non-null  object
 63   TU-2 NM Type                                          88024 non-null   object
 64   TU-3 Type                                             7796 non-null    object
 65   TU-3 NM Type                                          86207 non-null   object
 66   TU-1 Direction                                        177530 non-null  object
 67   TU-1 Movement                                         172827 non-null  object
 68   TU-1 Speed Limit                                      169333 non-null  object
 69   TU-1 Estimated Speed                                  162416 non-null  object
 70   TU-1 Human Contributing Factor                        138889 non-null  object
 71   TU-1 Age                                              166601 non-null  object
 72   TU-1 Safety restraint Use                             147094 non-null  object
 73   TU-1 Alcohol Suspected                                163331 non-null  object
 74   TU-1 Other Drugs Suspected                            163181 non-null  object
 75   TU-1 NM Direction                                     87201 non-null   object
 76   TU-1 NM Movement                                      87306 non-null   object
 77   TU-1 NM Age                                           87046 non-null   object
 78   TU-1 NM Sex                                           87315 non-null   object
 79   TU-1 NM Human Contributing Factor                     86773 non-null   object
 80   TU-1 NM Safety Helmet                                 87019 non-null   object
 81   TU-1 NM Alcohol Suspected                             87182 non-null   object
 82   TU-1 NM Marijuana Suspected                           87214 non-null   object
 83   TU-1 NM Other Drugs Suspected                         87169 non-null   object
 84   TU-1 Sex TU-1 Safety HelmetTU-1  Marijuana Suspected  86207 non-null   object
 85   TU-1 Hit And Run                                      178252 non-null  object
 86   TU-1 NM Sex                                           746 non-null     object
 87   TU-1 Sex                                              153992 non-null  object
 88   TU-1 Safety Helmet                                    160999 non-null  object
 89   TU-1  Marijuana Suspected                             165998 non-null  object
 90   TU-2 Direction                                        138239 non-null  object
 91   TU-2 Movement                                         134038 non-null  object
 92   TU-2 Speed Limit                                      149886 non-null  object
 93   TU-2 Estimated Speed                                  147288 non-null  object
 94   TU-2 Human Contributing Factor                        133679 non-null  object
 95   TU-2 Age                                              152360 non-null  object
 96   TU-2 Safety restraint Use                             117303 non-null  object
 97   TU-2 Alcohol Suspected                                148497 non-null  object
 98   TU-2 Other Drugs Suspected                            148032 non-null  object
 99   TU-2 NM Direction                                     87901 non-null   object
 100  TU-2 NM Movement                                      87700 non-null   object
 101  TU-2 NM Age                                           87705 non-null   object
 102  TU-2 NM Sex                                           88016 non-null   object
 103  TU-2 NM Human Contributing Factor                     87321 non-null   object
 104  TU-2 NM Safety Helmet                                 87702 non-null   object
 105  TU-2 NM Alcohol Suspected                             87810 non-null   object
 106  TU-2 NM Marijuana Suspected                           87849 non-null   object
 107  TU-2 NM Other Drugs Suspected                         87793 non-null   object
 108  TU-2 SexTU-2  Safety HelmetTU-2 Marijuana Suspected   86207 non-null   object
 109  TU-2 Hit And Run                                      177859 non-null  object
 110  TU-2 NM Sex                                           1132 non-null    object
 111  TU-2 Sex                                              121890 non-null  object
 112  TU-2  Safety Helmet                                   123230 non-null  object
 113  TU-2 Marijuana Suspected                              148625 non-null  object
 114  TU-3 Direction                                        7795 non-null    object
 115  TU-3 Movement                                         6863 non-null    object
 116  TU-3 Speed Limit                                      6246 non-null    object
 117  TU-3 Estimated Speed                                  6278 non-null    object
 118  TU-3 Human Contributing Factor                        34256 non-null   object
 119  TU-3 Age                                              86207 non-null   object
 120  TU-3 Safety restraint Use                             5980 non-null    object
 121  TU-3 Alcohol Suspected                                86207 non-null   object
 122  TU-3 Other Drugs Suspected                            86207 non-null   object
 123  TU-3 NM Direction                                     86207 non-null   object
 124  TU-3 NM Movement                                      86205 non-null   object
 125  TU-3 NM Age                                           86207 non-null   object
 126  TU-3 NM Sex                                           86207 non-null   object
 127  TU-3 NM Human Contributing Factor                     86192 non-null   object
 128  TU-3 NM Safety Helmet                                 86202 non-null   object
 129  TU-3 NM Alcohol Suspected                             86207 non-null   object
 130  TU-3 NM Marijuana Suspected                           86207 non-null   object
 131  TU-3 NM Other Drugs Suspected                         86207 non-null   object
 132  TU-3 SexTU-3 Safety HelmetTU-3 Marijuana Suspected    86207 non-null   object
 133  TU-3 Hit And Run                                      86166 non-null   object
 134  TU-3 NM Sex                                           41 non-null      object
 135  TU-3 Sex                                              6102 non-null    object
 136  TU-3 Safety Helmet                                    6713 non-null    object
 137  TU-3 Marijuana Suspected                              86165 non-null   object
 138  Wild Animal                                           6039 non-null    object
 139  Road Contour Curves                                   171663 non-null  object
 140  Road Contour Grade                                    171842 non-null  object
 141  Number Killed                                         179017 non-null  float64
 142  Number Injured                                        179017 non-null  float64
 143  Approach Overtaking Turn                              178928 non-null  object
 144  Crash Time                                            178839 non-null  object
 145  Rd_Number                                             131835 non-null  object
 146  Rd_Section                                            177983 non-null  object
 147  City_Street                                           51847 non-null   object
dtypes: datetime64[ns](1), float64(24), object(123)
memory usage: 203.6+ MB
None

In [13]:
cdot_new_pdf[['TU-1  Marijuana Suspected', 'TU-1 NM Marijuana Suspected ', 'TU-2 Marijuana Suspected', 'TU-2 NM Marijuana Suspected ']]

,TU-1 Marijuana Suspected,TU-1 NM Marijuana Suspected,TU-2 Marijuana Suspected,TU-2 NM Marijuana Suspected
0,Unknown,NaN,Marijuana Not Suspected,NaN
1,Marijuana Not Suspected,NaN,Marijuana Not Suspected,NaN
2,Marijuana Not Suspected,NaN,Marijuana Not Suspected,NaN
3,Unknown,NaN,Marijuana Not Suspected,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
92805,Marijuana Not Suspected,NaN,Marijuana Not Suspected,NaN
92806,NaN,NaN,Marijuana Not Suspected,NaN
92807,Marijuana Not Suspected,NaN,NaN,NaN
92808,Marijuana Not Suspected,NaN,NaN,NaN
92809,Unknown,NaN,Marijuana Not Suspected,NaN

In [14]:
combined_cdot_pdf[['TU-1  Marijuana Suspected', 
                   'TU-1 NM Marijuana Suspected ', 
                   'TU-2 Marijuana Suspected', 
                   'TU-2 NM Marijuana Suspected ']]

,TU-1 Marijuana Suspected,TU-1 NM Marijuana Suspected,TU-2 Marijuana Suspected,TU-2 NM Marijuana Suspected
0,Marijuana Not Suspected,,Marijuana Not Suspected,
1,Marijuana Not Suspected,,Marijuana Not Suspected,
2,Marijuana Not Suspected,,Marijuana Not Suspected,
3,Marijuana Not Suspected,,Marijuana Not Suspected,
4,Marijuana Not Suspected,,Marijuana Not Suspected,
...,...,...,...,...
92805,Marijuana Not Suspected,NaN,Marijuana Not Suspected,NaN
92806,NaN,NaN,Marijuana Not Suspected,NaN
92807,Marijuana Not Suspected,NaN,NaN,NaN
92808,Marijuana Not Suspected,NaN,NaN,NaN
92809,Unknown,NaN,Marijuana Not Suspected,NaN

In [15]:
cdot_new_pdf[['TU-1 Safety Helmet', 'TU-1 NM Safety Helmet ', 'TU-2  Safety Helmet', 'TU-2 NM Safety Helmet ']]

,TU-1 Safety Helmet,TU-1 NM Safety Helmet,TU-2 Safety Helmet,TU-2 NM Safety Helmet
0,Unknown (Describe in Narrative),NaN,N/A (Cars/Trucks),NaN
1,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN
2,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN
3,Unknown (Describe in Narrative),NaN,N/A (Cars/Trucks),NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
92805,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN
92806,NaN,NaN,N/A (Cars/Trucks),NaN
92807,N/A (Cars/Trucks),NaN,NaN,NaN
92808,N/A (Cars/Trucks),NaN,NaN,NaN
92809,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN

In [17]:
combined_cdot_pdf[['TU-1 Safety Helmet', 'TU-1 NM Safety Helmet ', 'TU-2  Safety Helmet', 'TU-2 NM Safety Helmet ']]

,TU-1 Safety Helmet,TU-1 NM Safety Helmet,TU-2 Safety Helmet,TU-2 NM Safety Helmet
0,No Helmet,,No Helmet,
1,No Helmet,,No Helmet,
2,No Helmet,,NaN,
3,No Helmet,,NaN,
4,No Helmet,,NaN,
...,...,...,...,...
92805,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN
92806,NaN,NaN,N/A (Cars/Trucks),NaN
92807,N/A (Cars/Trucks),NaN,NaN,NaN
92808,N/A (Cars/Trucks),NaN,NaN,NaN
92809,N/A (Cars/Trucks),NaN,N/A (Cars/Trucks),NaN

In [18]:
cdot_new_pdf[['TU-1 Sex ', 'TU-1 NM Sex ', 'TU-2 Sex', 'TU-2 NM Sex ']]

      TU-1 Sex  TU-1 NM Sex  TU-2 Sex TU-2 NM Sex
0           NaN          NaN        M          NaN
1             F          NaN        M          NaN
2             M          NaN        M          NaN
3           NaN          NaN        F          NaN
4           NaN          NaN      NaN          NaN
...         ...          ...      ...          ...
92805         F          NaN        M          NaN
92806       NaN          NaN        F          NaN
92807         F          NaN      NaN          NaN
92808         M          NaN      NaN          NaN
92809         M          NaN        F          NaN

[92810 rows x 4 columns]

In [19]:
combined_cdot_pdf[['TU-1 Sex ', 'TU-1 NM Sex ', 'TU-2 Sex', 'TU-2 NM Sex ']]

      TU-1 Sex  TU-1 NM Sex  TU-2 Sex TU-2 NM Sex
0             U                   NaN
1           NaN                   NaN
2             F                   NaN
3           NaN                   NaN
4           NaN                   NaN
...         ...          ...      ...          ...
92805         F          NaN        M          NaN
92806       NaN          NaN        F          NaN
92807         F          NaN      NaN          NaN
92808         M          NaN      NaN          NaN
92809         M          NaN        F          NaN

[179114 rows x 4 columns]

### Check Individual Columns

In [21]:
# Columns that should be set to np.nan 
nan_columns = [
        'CUID', 
        'Fourth HE', 
        'Secondary Crash', 
        'Construction Zone', 
        'School Zone', 
        'Weather Condition 2',
        'Lane Position',
        'Record Status',
        'Processing Status', 
        'Last Updated', 
        'TU-1 Special Function',
        'TU-2 Special Function', 
        'TU-3 Special Function',
        'TU-1 Autonomous Vehicle', 
        'TU-2 Autonomous Vehicle', 
        'TU-3 Autnomous Vehicle',
        'TU-1 Speed',
        'TU-2 Speed', 
        'TU-3 Speed', 
        'TU-1 Driver Action', 
        'TU-2 Driver Action', 
        'TU-3 Driver Action', 
        'TU-1 Safety System Available ', 
        'TU-2 Safety System Available ', 
        'TU-3 Safety System Avaliable ', 
        'TU-1 NM Facility Available', 
        'TU-2 NM Facility Available',
        'TU-3 NM Facility Available',
        'TU-1 NM Location ', 
        'TU-2 NM Location ', 
        'TU-3 NM Location ',
        'TU-1 NM Action ',
        'TU-2 NM Action ',
        'TU-3 NM Action ',
    ]

for column_name in nan_columns:
    print('COLUMN', column_name)
    print('New values')
    print(cdot_new_pdf[column_name].unique())
    print('Old converted values')
    print(converted_cdot_old_pdf[column_name].unique())
    print('combined new and old converted values')
    print(combined_cdot_pdf[column_name].unique())
    print()
    print()

COLUMN CUID
New values
[ 453608  420975  466850 ... 1259354 1259208 1259318]
Old converted values
[nan]
combined new and old converted values
[     nan  453608.  420975. ... 1259354. 1259208. 1259318.]


COLUMN Fourth HE
New values
[nan 'Overturning/Rollover' 'Electical/Utility Box' 'Parked Motor Vehicle'
 'Front to Rear' 'Culvert or Headwall' 'Tree' 'Rear to Side'
 'Front to Side' 'Fence' 'Side to Side-Same Direction' 'Cable Rail'
 'Other Fixed Object (Describe in Narrative)' 'Light Pole/Utility Pole'
 'Wall or Building' 'Ground' 'Rear to Rear' 'Vehicle Debris or Cargo'
 'Sign' 'Curb' 'Embankment' 'Mailbox'
 'Other Non-Fixed Object (Describe in Narrative)'
 'Side to Side-Opposite Direction' 'Concrete Highway Barrier'
 'Front to Front' 'Traffic Signal Pole' 'Pedestrian' 'Guardrail End'
 'Overhead Structure (Bridge)' 'Bridge Structure (Not Overhead)' 'Ditch'
 'Barricade' 'Other Non-Collision' 'Guardrail Face'
 'Immersion, Full or Partial' 'Large Rocks or Boulder'
 'Fell from Motor Vehicle' 'Delineator/Milepost' 'Wild Animal'
 'Overhead Structure (Not Bridge)' 'Crash Cushion/Traffic Barrel']
Old converted values
[nan]
combined new and old converted values
[nan 'Overturning/Rollover' 'Electical/Utility Box' 'Parked Motor Vehicle'
 'Front to Rear' 'Culvert or Headwall' 'Tree' 'Rear to Side'
 'Front to Side' 'Fence' 'Side to Side-Same Direction' 'Cable Rail'
 'Other Fixed Object (Describe in Narrative)' 'Light Pole/Utility Pole'
 'Wall or Building' 'Ground' 'Rear to Rear' 'Vehicle Debris or Cargo'
 'Sign' 'Curb' 'Embankment' 'Mailbox'
 'Other Non-Fixed Object (Describe in Narrative)'
 'Side to Side-Opposite Direction' 'Concrete Highway Barrier'
 'Front to Front' 'Traffic Signal Pole' 'Pedestrian' 'Guardrail End'
 'Overhead Structure (Bridge)' 'Bridge Structure (Not Overhead)' 'Ditch'
 'Barricade' 'Other Non-Collision' 'Guardrail Face'
 'Immersion, Full or Partial' 'Large Rocks or Boulder'
 'Fell from Motor Vehicle' 'Delineator/Milepost' 'Wild Animal'
 'Overhead Structure (Not Bridge)' 'Crash Cushion/Traffic Barrel']


COLUMN Secondary Crash
New values
[ 0.  1. nan]
Old converted values
[nan]
combined new and old converted values
[nan  0.  1.]


COLUMN Construction Zone
New values
[ 0.  1. nan]
Old converted values
[nan]
combined new and old converted values
[nan  0.  1.]


COLUMN School Zone
New values
[ 0.  1. nan]
Old converted values
[nan]
combined new and old converted values
[nan  0.  1.]


COLUMN Weather Condition 2
New values
[nan 'Clear' 'Snow' 'Wind' 'Sleet or Hail' 'Blowing Snow' 'Cloudy'
 'Freezing Rain or Freezing Drizzle' 'Fog' 'Rain' 'Dust']
Old converted values
[nan]
combined new and old converted values
[nan 'Clear' 'Snow' 'Wind' 'Sleet or Hail' 'Blowing Snow' 'Cloudy'
 'Freezing Rain or Freezing Drizzle' 'Fog' 'Rain' 'Dust']


COLUMN Lane Position
New values
['N02' 'N01' nan 'S01' 'WLS' 'SRS' 'E01' 'N03' 'W01' 'S10' 'WRS' 'E03'
 'W02' 'E02' 'ERS' 'ELS' '000' 'S02' 'E04' '001' 'NLS' 'W03' 'N04' 'W'
 'S03' 'NRS' 'S04' 'W04' 'N05' 'SLS' 'W2' '00' 'E05' '01' '003' '1' 'S05'
 'S06' 'W05' 'EB2' 'W06' '06' 'N' '2' 'E06' 'B02' 'S07' 'E12' '002' '0'
 '02' 'RES' 'N06' 'N10' 'W1' 'SEM' 'S' 'T1' '100' '3' 'N1' '04' '004' 'E4'
 'S1' 'RS0' '#02' 'WO1' 'E' '11' 'N07' 'S2' 'E07' 'S00' 'S12' 'EBS' '08'
 '14' 'N3' 'E2' 'E20' 'N2' 'E10' 'RS' '123' '12' '03' 'LS' 'W07' 'S20'
 'SBS' 'WBL' '07' 'NBS' 'N08' '05' 'ECN' 'LS1' '006' '7' 'E1' 'N12' 'E3'
 'R' 'W4' 'B01' 'LS0' 'RS1' 'N4' 'SB2' '1N' 'RLS' 'SB1' '1E' '23' 'D01'
 'S3' 'NB2' 'E08' 'N00']
Old converted values
[nan]
combined new and old converted values
[nan 'N02' 'N01' 'S01' 'WLS' 'SRS' 'E01' 'N03' 'W01' 'S10' 'WRS' 'E03'
 'W02' 'E02' 'ERS' 'ELS' '000' 'S02' 'E04' '001' 'NLS' 'W03' 'N04' 'W'
 'S03' 'NRS' 'S04' 'W04' 'N05' 'SLS' 'W2' '00' 'E05' '01' '003' '1' 'S05'
 'S06' 'W05' 'EB2' 'W06' '06' 'N' '2' 'E06' 'B02' 'S07' 'E12' '002' '0'
 '02' 'RES' 'N06' 'N10' 'W1' 'SEM' 'S' 'T1' '100' '3' 'N1' '04' '004' 'E4'
 'S1' 'RS0' '#02' 'WO1' 'E' '11' 'N07' 'S2' 'E07' 'S00' 'S12' 'EBS' '08'
 '14' 'N3' 'E2' 'E20' 'N2' 'E10' 'RS' '123' '12' '03' 'LS' 'W07' 'S20'
 'SBS' 'WBL' '07' 'NBS' 'N08' '05' 'ECN' 'LS1' '006' '7' 'E1' 'N12' 'E3'
 'R' 'W4' 'B01' 'LS0' 'RS1' 'N4' 'SB2' '1N' 'RLS' 'SB1' '1E' '23' 'D01'
 'S3' 'NB2' 'E08' 'N00']


COLUMN Record Status
New values
['Coded' 'New' 'In Progress']
Old converted values
[nan]
combined new and old converted values
[nan 'Coded' 'New' 'In Progress']


COLUMN Processing Status
New values
['Completed' 'AC Off Sys' 'AC On Sys' 'Normalized' 'New' 'In Progress']
Old converted values
[nan]
combined new and old converted values
[nan 'Completed' 'AC Off Sys' 'AC On Sys' 'Normalized' 'New' 'In Progress']


COLUMN Last Updated
New values
['Jun 13 2024  2:21PM' 'Feb 26 2024 10:46PM' 'Jun 27 2024 12:21AM' ...
 'Jan  2 2025  1:52PM' 'Jan  3 2025  1:57PM' 'Jan  3 2025  6:46PM']
Old converted values
[nan]
combined new and old converted values
[nan 'Jun 13 2024  2:21PM' 'Feb 26 2024 10:46PM' ... 'Jan  2 2025  1:52PM'
 'Jan  3 2025  1:57PM' 'Jan  3 2025  6:46PM']


COLUMN TU-1 Special Function
New values
['No Special Function' nan 'Other (Describe in Narrative)'
 'Public Utility' 'Bus â€“ Transit'
 'Non-Transport Emergency Services Vehicle' 'Police' 'Fire Truck'
 'Bus â€“ Other' 'Taxi' 'Ambulance' 'Bus â€“ Shuttle'
 'Vehicle Transporting Students To/From School' 'Construction Equipment'
 'Highway/Maintenance'
 'Vehicle Used for Electronic Ride-hailing (Uber, Lyft etc.)'
 'Rental Truck' 'Towing â€“ Incident Response' 'Farm Vehicle'
 'Other Incident Response' 'Safety Service Patrols â€“ Incident Response'
 'Farm Equipment' 'Bus â€“ Charter' 'Military'
 'Truck Acting as Crash Attenuator']
Old converted values
[nan]
combined new and old converted values
[nan 'No Special Function' 'Other (Describe in Narrative)'
 'Public Utility' 'Bus â€“ Transit'
 'Non-Transport Emergency Services Vehicle' 'Police' 'Fire Truck'
 'Bus â€“ Other' 'Taxi' 'Ambulance' 'Bus â€“ Shuttle'
 'Vehicle Transporting Students To/From School' 'Construction Equipment'
 'Highway/Maintenance'
 'Vehicle Used for Electronic Ride-hailing (Uber, Lyft etc.)'
 'Rental Truck' 'Towing â€“ Incident Response' 'Farm Vehicle'
 'Other Incident Response' 'Safety Service Patrols â€“ Incident Response'
 'Farm Equipment' 'Bus â€“ Charter' 'Military'
 'Truck Acting as Crash Attenuator']


COLUMN TU-2 Special Function
New values
['No Special Function' nan 'Bus â€“ Transit' 'Police'
 'Non-Transport Emergency Services Vehicle'
 'Vehicle Used for Electronic Ride-hailing (Uber, Lyft etc.)'
 'Public Utility' 'Ambulance' 'Other (Describe in Narrative)'
 'Construction Equipment' 'Highway/Maintenance' 'Farm Vehicle'
 'Towing â€“ Incident Response' 'Fire Truck' 'Rental Truck' 'Bus â€“ Other'
 'Vehicle Transporting Students To/From School' 'Taxi' 'Bus â€“ Shuttle'
 'Truck Acting as Crash Attenuator' 'Farm Equipment'
 'Other Incident Response' 'Military'
 'Safety Service Patrols â€“ Incident Response' 'Bus â€“ Charter']
Old converted values
[nan]
combined new and old converted values
[nan 'No Special Function' 'Bus â€“ Transit' 'Police'
 'Non-Transport Emergency Services Vehicle'
 'Vehicle Used for Electronic Ride-hailing (Uber, Lyft etc.)'
 'Public Utility' 'Ambulance' 'Other (Describe in Narrative)'
 'Construction Equipment' 'Highway/Maintenance' 'Farm Vehicle'
 'Towing â€“ Incident Response' 'Fire Truck' 'Rental Truck' 'Bus â€“ Other'
 'Vehicle Transporting Students To/From School' 'Taxi' 'Bus â€“ Shuttle'
 'Truck Acting as Crash Attenuator' 'Farm Equipment'
 'Other Incident Response' 'Military'
 'Safety Service Patrols â€“ Incident Response' 'Bus â€“ Charter']


COLUMN TU-3 Special Function
New values

KeyError: 'TU-3 Special Function'

In [ ]:
# TODO - CHECK THAT ALL COLUMNS WITH MOTORISTS AND NON-MOTORISTS ARE AS EXPECTED 
# When it is a motorist - all NM columns should be empty 
# and vice versa

In [ ]:
# Renamed Columns and mapped 
columns=['Crash Date', 'Agency Id','City','County', 
         'Latitude', 'Longitude', 'Location 1', 
         'Link', 'Location 2', 'Wild Animal', 
         'Injury 00', 'Injury 01','Injury 02', 
         'Injury 03', 'Injury 04', 'Location',
         'Road Description', 'First HE','Second HE', 'Third HE', 'MHE', 
         'Crash Type',
         'Road Condition', 'Lighting Conditions', 'Weather Condition',
         'Total Vehicles','System Code',
        'Road Contour Curves', 'Road Contour Grade']
# TODO - ADD OTHER MAPPING COLUMNS *** 

for column_name in columns:
    print('COLUMN', column_name)
    print('New values')
    print(cdot_new_pdf[column_name].unique())
    print('Old converted values')
    print(converted_cdot_old_pdf[column_name].unique())
    print('combined new and old converted values')
    print(combined_cdot_pdf[column_name].unique())
    print()
    print()

In [ ]:
# Other transformations 
columns=['Number Killed', 'Number Injured',
         'Crash Time', 'Rd_Number', 'Rd_Section']

for column_name in columns:
    print('COLUMN', column_name)
    print('New values')
    print(cdot_new_pdf[column_name].unique())
    print('Old converted values')
    print(converted_cdot_old_pdf[column_name].unique())
    print('combined new and old converted values')
    print(combined_cdot_pdf[column_name].unique())
    print()
    print()

In [ ]:
# Columns to check closer due to fixes 
columns=['Crash Type', 
         'Wild Animal',
        'Approach Overtaking Turn']

for column_name in columns:
    print('COLUMN', column_name)
    print('New values')
    print(cdot_new_pdf[column_name].unique())
    
    if column_name == 'Wild Animal':
        print('Old Values')
        print(cdot_old_pdf['WAN_TYPE'].unique())
        
    print('Old converted values')
    print(converted_cdot_old_pdf[column_name].unique())
    print('combined new and old converted values')
    print(combined_cdot_pdf[column_name].unique())
    print()
    print()