## People Centered COS - Convert CDOT Data format (2007-2020) to the 2021+ data format 

 #### Part 1 - Convert information on road condition, lighting, location, number of vehicles and people etc. 

 #### Part 2 - (THIS NOTEBOOK) - Convert vechile and non-motorist attributes and speeds etc.

In [98]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [99]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [100]:
import pandas as pd

### Load CDOT csvs

In [101]:
cdot_base_path = "/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/"

In [102]:
# Load CDOT Data from new data format (2021+) 

year_new = 2023
filename_new = f"CDOTRM_CD_Crash_Listing_-_{year_new}.xlsx"

full_path_new = cdot_base_path + filename_new
print(full_path_new)

cdot_new_pdf = pd.read_excel(full_path_new)
display(cdot_new_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2023.xlsx

,CUID,System Code,Rd_Number,Rd_Section,City_Street,Crash Date,Crash Time,Agency Id,City,County,...,TU-2 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected,Record Status,Processing Status,Last Updated
0,296027,City Street,0455,VERMO,TIMBE,2023-01-01,00:00:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Aug 4 2023 11:35PM
1,299624,City Street,0455,HARMO,TIMBE,2023-01-01,00:03:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Apr 6 2023 10:08PM
2,289075,City Street,0320,KALAM,CEDAR,2023-01-01,00:09:00,DPD,DENVER,DENVER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 8 2023 8:29PM
3,293978,City Street,0055,LINVA,LARED,2023-01-01,00:16:00,AURPD,AURORA,ARAPAHOE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,May 5 2023 8:02PM
4,299717,State Highway,095A,12.906,NaN,2023-01-01,00:34:00,WMPD,WESTMINSTER,JEFFERSON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 15 2023 1:35PM

In [103]:
# Load CDOT Data from old data format (2007-2020) 

year = 2020
filename_old = f"CDOTRM_CD_Crash_Listing_-_{year}.xlsx"

full_path_old = cdot_base_path + filename_old
print(full_path_old)

cdot_old_pdf = pd.read_excel(full_path_old)
display(cdot_old_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2020.xlsx

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,DRVINJ_1,DRVINJ_2,DRVINJ_3,DUI_1,DUI_2,DUI_3,CITY,COUNTY,LATITUDE,LONGITUDE
0,COUNTY ROAD,0,NaN,0.0,2020-01-01,0.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,NaN,MESA,0.000000,0.000000
1,CITY STREET,0,NaN,0.0,2020-01-01,1.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,GYPSUM,EAGLE,0.000000,0.000000
2,STATE HIGHWAY,160,A,123.1,2020-01-01,1.0,INJ,1,1,0,...,POSSIBLE/COMPLAINT OF INJURY,NaN,NaN,N,N,N,NaN,ARCHULETA,37.204663,-107.329465
3,CITY STREET,0,NaN,0.0,2020-01-01,6.0,PDO,0,0,0,...,NaN,NaN,NaN,N,N,N,CENTENNIAL,ARAPAHOE,39.578560,-104.807100
4,CITY STREET,0,NaN,0.0,2020-01-01,13.0,INJ,0,1,0,...,NaN,NaN,NaN,N,N,N,DENVER,DENVER,39.746541,-105.007589

### Inspect Data

## Convert Data

In [104]:
import numpy as np

In [105]:
print(list(cdot_new_pdf.columns))

['CUID', 'System Code', 'Rd_Number', 'Rd_Section', 'City_Street', 'Crash Date', 'Crash Time', 'Agency Id', 'City', 'County', 'Latitude', 'Longitude', 'Location 1', 'Link', 'Location 2', 'Location', 'Road Description', 'First HE', 'Second HE', 'Third HE', 'Fourth HE', 'MHE', 'Crash Type', 'Approach Overtaking Turn', 'Wild Animal', 'Number Killed', 'Number Injured', 'Injury 00', 'Injury 01', 'Injury 02', 'Injury 03', 'Injury 04', 'Total Vehicles', 'Secondary Crash', 'Construction Zone', 'School Zone', 'Road Contour Curves', 'Road Contour Grade', 'Road Condition', 'Lighting Conditions', 'Weather Condition', 'Weather Condition 2', 'Lane Position', 'TU-1 Direction', 'TU-2 Direction', 'TU-1 Movement', 'TU-2 Movement', 'TU-1 Type', 'TU-2 Type', 'TU-1 Special Function', 'TU-2 Special Function', 'TU-1 Autonomous Vehicle', 'TU-2 Autonomous Vehicle', 'TU-1 Hit And Run', 'TU-2 Hit And Run', 'TU-1 Speed Limit', 'TU-2 Speed Limit', 'TU-1 Estimated Speed', 'TU-2 Estimated Speed', 'TU-1 Speed', 'TU-2 Speed', 'TU-1 Driver Action', 'TU-2 Driver Action', 'TU-1 Human Contributing Factor', 'TU-2 Human Contributing Factor', 'TU-1 Age', 'TU-2 Age', 'TU-1 Sex ', 'TU-2 Sex', 'TU-1 Safety System Available ', 'TU-2 Safety System Available ', 'TU-1 Safety restraint Use', 'TU-2 Safety restraint Use', 'TU-1 Safety Helmet', 'TU-2  Safety Helmet', 'TU-1 Alcohol Suspected', 'TU-2 Alcohol Suspected', 'TU-1  Marijuana Suspected', 'TU-2 Marijuana Suspected', 'TU-1 Other Drugs Suspected ', 'TU-2 Other Drugs Suspected ', 'TU-1 NM Direction', 'TU-2 NM Direction', 'TU-1 NM Movement', 'TU-2 NM Movement', 'TU-1 NM Facility Available', 'TU-2 NM Facility Available', 'TU-1 NM Location ', 'TU-2 NM Location ', 'TU-1 NM Type', 'TU-2 NM Type', 'TU-1 NM Age ', 'TU-2 NM Age ', 'TU-1 NM Sex ', 'TU-2 NM Sex ', 'TU-1 NM Action ', 'TU-2 NM Action ', 'TU-1 NM Human Contributing Factor ', 'TU-2 NM Human Contributing Factor ', 'TU-1 NM Safety Helmet ', 'TU-2 NM Safety Helmet ', 'TU-1 NM Alcohol Suspected ', 'TU-2 NM Alcohol Suspected ', 'TU-1 NM Marijuana Suspected ', 'TU-2 NM Marijuana Suspected ', 'TU-1 NM Other Drugs Suspected ', 'TU-2 NM Other Drugs Suspected ', 'Record Status', 'Processing Status', 'Last Updated']

### Parse out Motorists and Non-Motorists

#### Investigate Column Relationships

In [106]:
cdot_old_pdf['ACCTYPE'].unique()

array(['PARKED MOTOR VEHICLE', 'CURB/RAISED MEDIAN', 'WILD ANIMAL',
       'VEHICLE CARGO/DEBRIS', 'LIGHT/UTILITY POLE',
       'SIDESWIPE (SAME DIRECTION)', 'CRASH CUSHION', 'OVERTURNING',
       'TREE/SHRUBBERY', 'REAR-END', 'BROADSIDE',
       'EMBANKMENT CUT/FILL SLOPE', 'APPROACH TURN',
       'TRAFFIC SIGNAL POLE', 'SIGN', 'FENCE', 'CABLE RAIL',
       'CONCRETE BARRIER', 'OVERTAKING TURN', 'HEAD-ON', 'GUARD RAIL',
       'SIDESWIPE (OPPOSITE DIRECTION)', 'BRIDGE RAIL', 'DELINEATOR POST',
       'LARGE BOULDERS OR ROCKS', 'OTHER FIXED OBJECT',
       'INVOLVING OTHER OBJECT', 'BICYCLE', 'PEDESTRIAN',
       'OTHER NON-COLLISION', 'DOMESTIC ANIMAL', 'MAILBOX',
       'CULVERT/HEADWALL', 'RAILWAY VEHICLE', 'WALL/BUILDING',
       'BARRICADE/TRAFFIC BARRIER', nan, 'ROAD MAINTENANCE EQUIPMENT'],
      dtype=object)

In [107]:
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_1'] == 'MOTORIZED BICYCLE', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2
17316,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PICKUP TRUCK/UTILITY VAN,NaN,35,60
20328,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,51,84
23911,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,14,20
27688,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,SUV,NaN,23,43
34162,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,61,47
34221,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,SUV,NaN,14,24
36945,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,MOTORIZED BICYCLE,PASSENGER CAR/VAN,NaN,48,49

In [108]:
cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'BICYCLE', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2
156,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,PASSENGER CAR/VAN,NaN,41,25
237,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,BICYCLE,NaN,0,35
371,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,MOTORIZED BICYCLE,NaN,0,33
377,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,SUV,NaN,23,64
486,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,73,30
...,...,...,...,...,...,...,...,...,...,...
84025,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,BICYCLE,PICKUP TRUCK/UTILITY VAN,NaN,0,55
84729,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,HIT & RUN - UNKNOWN,BICYCLE,NaN,0,30
84839,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,18,50
85895,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,PASSENGER CAR/VAN,BICYCLE,NaN,38,33
86074,BICYCLE,BICYCLE,NaN,NaN,BICYCLE,SUV,BICYCLE,NaN,39,48

In [109]:
cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN', 
['ACCTYPE', 'EVENT_1', 'EVENT_2', 'EVENT_3', 'MHE', 'VEHICLE_1', 'VEHICLE_2', 'VEHICLE_3', 'AGE_1', 'AGE_2', 'AGE_3']]

,ACCTYPE,EVENT_1,EVENT_2,EVENT_3,MHE,VEHICLE_1,VEHICLE_2,VEHICLE_3,AGE_1,AGE_2,AGE_3
189,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PASSENGER CAR/VAN,OTHER - SEE REPORT,NaN,24,67,0
240,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,SUV,NaN,0,28,0
307,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,SUV,NaN,41,64,0
400,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PASSENGER CAR/VAN,OTHER - SEE REPORT,NaN,24,57,0
531,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,PICKUP TRUCK/UTILITY VAN,OTHER - SEE REPORT,NaN,71,56,0
...,...,...,...,...,...,...,...,...,...,...,...
86067,PEDESTRIAN,PEDESTRIAN,PARKED MOTOR VEHICLE,NaN,PEDESTRIAN,PASSENGER CAR/VAN,PICKUP TRUCK/UTILITY VAN,OTHER - SEE REPORT,21,0,67
86131,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,HIT & RUN - UNKNOWN,OTHER - SEE REPORT,NaN,0,14,0
86167,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,SUV,OTHER - SEE REPORT,NaN,38,2,0
86198,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,PICKUP TRUCK/UTILITY VAN,NaN,51,53,0
86248,PEDESTRIAN,PEDESTRIAN,NaN,NaN,PEDESTRIAN,OTHER - SEE REPORT,PICKUP TRUCK/UTILITY VAN,NaN,3,23,0

#### Start writing conversion code

In [110]:
# Initialize all NM and Motorist columns to empty strings 
# add a third vehicle and non-motorist to map VEHICLE_3 to from old format 

people_columns = [
     'TU-1 Type',
     'TU-2 Type',
     'TU-3 Type',
     'TU-1 Direction',
     'TU-2 Direction',
     'TU-3 Direction',
     'TU-1 Movement',
     'TU-2 Movement',
     'TU-3 Movement',
     'TU-1 Speed Limit',
     'TU-2 Speed Limit',
     'TU-3 Speed Limit',
     'TU-1 Estimated Speed',
     'TU-2 Estimated Speed',
     'TU-3 Estimated Speed',
     'TU-1 Human Contributing Factor',
     'TU-2 Human Contributing Factor',
     'TU-3 Human Contributing Factor',
     'TU-1 Age',
     'TU-2 Age',
     'TU-3 Age',
     'TU-1 Sex ',
     'TU-2 Sex',
     'TU-3 Sex',
     'TU-1 Safety restraint Use',
     'TU-2 Safety restraint Use',
     'TU-3 Safety restraint Use', 
     'TU-1 Safety Helmet',
     'TU-2  Safety Helmet',
     'TU-3 Safety Helmet',
     'TU-1 Alcohol Suspected',
     'TU-2 Alcohol Suspected',
     'TU-3 Alcohol Suspected',
     'TU-1  Marijuana Suspected',
     'TU-2 Marijuana Suspected',
     'TU-3 Marjijuana Suspected',
     'TU-1 Other Drugs Suspected ',
     'TU-2 Other Drugs Suspected ',
     'TU-3 Other Drugs Suspected ',
     'TU-1 NM Direction',
     'TU-2 NM Direction',
     'TU-3 NM Direction', 
     'TU-1 NM Movement',
     'TU-2 NM Movement',
     'TU-3 NM Movement', 
     'TU-1 NM Type',
     'TU-2 NM Type',
     'TU-3 NM Type',
     'TU-1 NM Age ',
     'TU-2 NM Age ',
     'TU-3 NM Age ', 
     'TU-1 NM Sex ',
     'TU-2 NM Sex ',
     'TU-3 NM Sex ',
     'TU-1 NM Human Contributing Factor ',
     'TU-2 NM Human Contributing Factor ',
     'TU-3 NM Human Contributing Factor ',
     'TU-1 NM Safety Helmet ',
     'TU-2 NM Safety Helmet ',
     'TU-3 NM Safety Helmet ', 
     'TU-1 NM Alcohol Suspected ',
     'TU-2 NM Alcohol Suspected ',
     'TU-3 NM Alcohol Suspected ',
     'TU-1 NM Marijuana Suspected ',
     'TU-2 NM Marijuana Suspected ',
     'TU-3 NM Marijuana Suspected ', 
     'TU-1 NM Other Drugs Suspected ',
     'TU-2 NM Other Drugs Suspected ',
     'TU-3 NM Other Drugs Suspected ',
    ] 

for col_name in people_columns:
    cdot_old_pdf[col_name] = ''

display(cdot_old_pdf.head(5))

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,TU-3 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-3 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-3 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected,TU-3 NM Other Drugs Suspected
0,COUNTY ROAD,0,NaN,0.0,2020-01-01,0.0,PDO,0,0,0,...,,,,,,,,,,
1,CITY STREET,0,NaN,0.0,2020-01-01,1.0,PDO,0,0,0,...,,,,,,,,,,
2,STATE HIGHWAY,160,A,123.1,2020-01-01,1.0,INJ,1,1,0,...,,,,,,,,,,
3,CITY STREET,0,NaN,0.0,2020-01-01,6.0,PDO,0,0,0,...,,,,,,,,,,
4,CITY STREET,0,NaN,0.0,2020-01-01,13.0,INJ,0,1,0,...,,,,,,,,,,

### Identify Motorists and Non-Motorists 
#### Populate Type Columns

In [111]:
# Identify which VEHICLE_X columns need to be converted to NM columns in new format 

# When the accident type is Pedestrian the vast majority of the time the "VEHICLE_X" column that says "OTHER - SEE REPORT" is referring to a pedestrian 
# there are a handful of accidents that have multiple "VEHICLE_X" columns that say "OTHER - SEE REPORT" so it is ambiguous which X is the pedestrian 

cdot_old_pdf['vehicle_1_is_nm'] = False
cdot_old_pdf['vehicle_2_is_nm'] = False
cdot_old_pdf['vehicle_3_is_nm'] = False

#cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_1'] == np.nan, 'vehicle_1_is_nm'] = np.nan 
#cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_2'] == np.nan, 'vehicle_2_is_nm'] = np.nan 
#cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_3'] == np.nan, 'vehicle_3_is_nm'] = np.nan 

cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_1'] == 'OTHER - SEE REPORT'), 'vehicle_1_is_nm'] = True 
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_2'] == 'OTHER - SEE REPORT'), 'vehicle_2_is_nm'] = True
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_3'] == 'OTHER - SEE REPORT'), 'vehicle_3_is_nm'] = True

cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_1'] == 'OTHER - SEE REPORT'), 'TU-1 NM Type'] = 'Pedestrian'
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_2'] == 'OTHER - SEE REPORT'), 'TU-2 NM Type'] = 'Pedestrian'
cdot_old_pdf.loc[(cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN') & (cdot_old_pdf['VEHICLE_3'] == 'OTHER - SEE REPORT'), 'TU-3 NM Type'] = 'Pedestrian'

display(cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'PEDESTRIAN', 
['ACCTYPE', 
 'VEHICLE_1', 'vehicle_1_is_nm', 'TU-1 NM Type', 
 'VEHICLE_2', 'vehicle_2_is_nm', 'TU-2 NM Type', 
 'VEHICLE_3', 'vehicle_3_is_nm', 'TU-3 NM Type']])

# Old format has Bicycle as a type of vehicle, so filter for VEHICLE_X == BICYCLE or MOTORIZED BICYCLE, then slot those in as non-motorists 
# accident type isn't always bicycle when a bicycle is involved 

cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_1'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_1'] == 'MOTORIZED BICYCLE'), 'vehicle_1_is_nm'] = True
cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_2'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_2'] == 'MOTORIZED BICYCLE'), 'vehicle_2_is_nm'] = True
cdot_old_pdf.loc[(cdot_old_pdf['VEHICLE_3'] == 'BICYCLE') | (cdot_old_pdf['VEHICLE_3'] == 'MOTORIZED BICYCLE'), 'vehicle_3_is_nm'] = True

cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_1'] == 'BICYCLE', 'TU-1 NM Type'] = 'Bicyclist'
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_2'] == 'BICYCLE', 'TU-2 NM Type'] = 'Bicyclist'
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_3'] == 'BICYCLE', 'TU-3 NM Type'] = 'Bicyclist'
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_1'] == 'MOTORIZED BICYCLE', 'TU-1 NM Type'] = 'Other Bicyclist/Cyclist'
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_2'] == 'MOTORIZED BICYCLE', 'TU-2 NM Type'] = 'Other Bicyclist/Cyclist'
cdot_old_pdf.loc[cdot_old_pdf['VEHICLE_3'] == 'MOTORIZED BICYCLE', 'TU-3 NM Type'] = 'Other Bicyclist/Cyclist'

display(cdot_old_pdf.loc[cdot_old_pdf['ACCTYPE'] == 'BICYCLE', 
['ACCTYPE', 'VEHICLE_1', 'vehicle_1_is_nm', 'TU-1 NM Type', 
 'VEHICLE_2', 'vehicle_2_is_nm', 'TU-2 NM Type',
 'VEHICLE_3', 'vehicle_3_is_nm', 'TU-3 NM Type']])

,ACCTYPE,VEHICLE_1,vehicle_1_is_nm,TU-1 NM Type,VEHICLE_2,vehicle_2_is_nm,TU-2 NM Type,VEHICLE_3,vehicle_3_is_nm,TU-3 NM Type
189,PEDESTRIAN,PASSENGER CAR/VAN,False,,OTHER - SEE REPORT,True,Pedestrian,NaN,False,
240,PEDESTRIAN,OTHER - SEE REPORT,True,Pedestrian,SUV,False,,NaN,False,
307,PEDESTRIAN,OTHER - SEE REPORT,True,Pedestrian,SUV,False,,NaN,False,
400,PEDESTRIAN,PASSENGER CAR/VAN,False,,OTHER - SEE REPORT,True,Pedestrian,NaN,False,
531,PEDESTRIAN,PICKUP TRUCK/UTILITY VAN,False,,OTHER - SEE REPORT,True,Pedestrian,NaN,False,
...,...,...,...,...,...,...,...,...,...,...
86067,PEDESTRIAN,PASSENGER CAR/VAN,False,,PICKUP TRUCK/UTILITY VAN,False,,OTHER - SEE REPORT,True,Pedestrian
86131,PEDESTRIAN,HIT & RUN - UNKNOWN,False,,OTHER - SEE REPORT,True,Pedestrian,NaN,False,
86167,PEDESTRIAN,SUV,False,,OTHER - SEE REPORT,True,Pedestrian,NaN,False,
86198,PEDESTRIAN,OTHER - SEE REPORT,True,Pedestrian,PICKUP TRUCK/UTILITY VAN,False,,NaN,False,
86248,PEDESTRIAN,OTHER - SEE REPORT,True,Pedestrian,PICKUP TRUCK/UTILITY VAN,False,,NaN,False,

,ACCTYPE,VEHICLE_1,vehicle_1_is_nm,TU-1 NM Type,VEHICLE_2,vehicle_2_is_nm,TU-2 NM Type,VEHICLE_3,vehicle_3_is_nm,TU-3 NM Type
156,BICYCLE,BICYCLE,True,Bicyclist,PASSENGER CAR/VAN,False,,NaN,False,
237,BICYCLE,HIT & RUN - UNKNOWN,False,,BICYCLE,True,Bicyclist,NaN,False,
371,BICYCLE,HIT & RUN - UNKNOWN,False,,MOTORIZED BICYCLE,True,Other Bicyclist/Cyclist,NaN,False,
377,BICYCLE,BICYCLE,True,Bicyclist,SUV,False,,NaN,False,
486,BICYCLE,PASSENGER CAR/VAN,False,,BICYCLE,True,Bicyclist,NaN,False,
...,...,...,...,...,...,...,...,...,...,...
84025,BICYCLE,BICYCLE,True,Bicyclist,PICKUP TRUCK/UTILITY VAN,False,,NaN,False,
84729,BICYCLE,HIT & RUN - UNKNOWN,False,,BICYCLE,True,Bicyclist,NaN,False,
84839,BICYCLE,PASSENGER CAR/VAN,False,,BICYCLE,True,Bicyclist,NaN,False,
85895,BICYCLE,PASSENGER CAR/VAN,False,,BICYCLE,True,Bicyclist,NaN,False,
86074,BICYCLE,SUV,False,,BICYCLE,True,Bicyclist,NaN,False,

In [112]:
# Motorist Type Mapping

# Convert VEHICLE_X (old column) to TU-X Type (new column) - when VEHICLE_X is a motorist 

# And segment the Non-motorists out of the old format and note which vehicle number is the non-motorist if any 
old_column = 'VEHICLE_1'
new_column = 'TU-1 Type'
new_column2 = 'TU-1 NM Type'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())

# don't map bicycle or motorized bicycle since they will always be mapped to non-motorists 
map_vehicle_to_tu_type_x = {'HIT & RUN - UNKNOWN': 'Unknown', 
                 'UNKNOWN': 'Unknown',
                 'PICKUP TRUCK/UTILITY VAN': 'Pickup Truck/Utility Van', 
                 'PASSENGER CAR/VAN': 'Passenger Car/Passenger Van', 
                 'SUV': 'SUV', 
                 'MOTORCYCLE': 'Motorcycle', 
                 'PASSENGER CAR/VAN W/TRAILER': 'Passenger Car/Passenger Van with Trailer - RET',
                 'SCHOOL BUS < 15 PEOPLE': 'School Bus (all school buses)',
                 'FARM EQUIPMENT': 'Farm Equipment',
                 'MOTOR HOME': 'Motor Home',
                 'TRUCK GVW > 10K/BUSSES > 15 PEOPLE': 'old__truck_gvw_gr_10k_busses_gr_15_people',
                 'SUV W/TRAILER': 'old__SUV_w_trailer',
                 'PICKUP TRUCK/UTILITY VAN W/TRAILER': 'old__pickup_truck_utility_van_w_trailer',
                 'NON-SCHOOL BUS < 15 PEOPLE': '',
                 'OTHER - SEE REPORT': 'Other Vehicle Type (Describe in Narrative)',
                }

# In the new data format, if the accident is between a motorist and a non-motorist
# there is no re-use of the 1, 2 numbers 
# TU-1 Type = Null 
# TU-2 Type = SUV
# TU-1 NM = Pedestrian

cdot_old_pdf.loc[cdot_old_pdf['vehicle_1_is_nm'] == False, 'TU-1 Type'] = cdot_old_pdf['VEHICLE_1'].map(map_vehicle_to_tu_type_x)
cdot_old_pdf.loc[cdot_old_pdf['vehicle_2_is_nm'] == False, 'TU-2 Type'] = cdot_old_pdf['VEHICLE_2'].map(map_vehicle_to_tu_type_x) 
cdot_old_pdf.loc[cdot_old_pdf['vehicle_3_is_nm'] == False, 'TU-3 Type'] = cdot_old_pdf['VEHICLE_3'].map(map_vehicle_to_tu_type_x) 

display(cdot_old_pdf[['ACCTYPE', 
                      'VEHICLE_1', 'vehicle_1_is_nm', 'TU-1 Type', 'TU-1 NM Type', 
                      'VEHICLE_2', 'vehicle_2_is_nm', 'TU-2 Type', 'TU-2 NM Type',
                      'VEHICLE_3', 'vehicle_3_is_nm', 'TU-3 Type', 'TU-3 NM Type']])

print(f"New converted format {new_column2}", cdot_old_pdf[new_column2].unique())
print(f"New converted format {new_column}", cdot_old_pdf[new_column].unique())

Old format VEHICLE_1 ['HIT & RUN - UNKNOWN' 'PICKUP TRUCK/UTILITY VAN' 'PASSENGER CAR/VAN'
 'SUV' 'UNKNOWN' 'OTHER - SEE REPORT' 'MOTORCYCLE'
 'NON-SCHOOL BUS < 15 PEOPLE' 'PICKUP TRUCK/UTILITY VAN W/TRAILER'
 'BICYCLE' 'TRUCK GVW > 10K/BUSSES > 15 PEOPLE'
 'PASSENGER CAR/VAN W/TRAILER' 'SUV W/TRAILER' 'SCHOOL BUS < 15 PEOPLE'
 'FARM EQUIPMENT' 'MOTOR HOME' 'MOTORIZED BICYCLE' nan]

New format TU-1 Type ['Unknown ' 'Passenger Car/Passenger Van' 'SUV' nan
 'Pickup Truck/Utility Van'
 'Medium/Heavy Trucks, GVWR/GCWR 10,001 or Over'
 'Medium/Heavy Trucks, GVWR/GCWR 16,001 or over'
 'Non-School Bus (nine occupants or more including driver) in commerce'
 'Motor Home' 'Working Vehicle/Equipment'
 'Other Vehicle Type (Describe in Narrative)'
 'School Bus (all school buses)' 'Transit Bus' 'Motorcycle'
 'Farm Equipment' 'Autocycle' 'Off Highway Vehicle/ATV'
 'Low Speed Vehicle' 'Passenger Car/Passenger Van with Trailer - RET'
 'Light Rail']

New format TU-1 NM Type [nan 'Pedestrian' 'Bicyclist' 'Other Pedestrian' 'Wheelchair'
 'Personal Conveyance' 'Scooter' 'Other Non-Motorist'
 'Other Bicyclist/Cyclist']

,ACCTYPE,VEHICLE_1,vehicle_1_is_nm,TU-1 Type,TU-1 NM Type,VEHICLE_2,vehicle_2_is_nm,TU-2 Type,TU-2 NM Type,VEHICLE_3,vehicle_3_is_nm,TU-3 Type,TU-3 NM Type
0,PARKED MOTOR VEHICLE,HIT & RUN - UNKNOWN,False,Unknown,,SUV,False,SUV,,NaN,False,NaN,
1,CURB/RAISED MEDIAN,HIT & RUN - UNKNOWN,False,Unknown,,PASSENGER CAR/VAN,False,Passenger Car/Passenger Van,,NaN,False,NaN,
2,WILD ANIMAL,PICKUP TRUCK/UTILITY VAN,False,Pickup Truck/Utility Van,,NaN,False,NaN,,NaN,False,NaN,
3,VEHICLE CARGO/DEBRIS,HIT & RUN - UNKNOWN,False,Unknown,,UNKNOWN,False,Unknown,,NaN,False,NaN,
4,LIGHT/UTILITY POLE,HIT & RUN - UNKNOWN,False,Unknown,,NaN,False,NaN,,NaN,False,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86299,SIGN,PASSENGER CAR/VAN,False,Passenger Car/Passenger Van,,UNKNOWN,False,Unknown,,NaN,False,NaN,
86300,SIGN,PASSENGER CAR/VAN,False,Passenger Car/Passenger Van,,UNKNOWN,False,Unknown,,NaN,False,NaN,
86301,SIGN,PICKUP TRUCK/UTILITY VAN,False,Pickup Truck/Utility Van,,NaN,False,NaN,,NaN,False,NaN,
86302,BROADSIDE,PASSENGER CAR/VAN,False,Passenger Car/Passenger Van,,UNKNOWN,False,Unknown,,NaN,False,NaN,
86303,SIGN,PASSENGER CAR/VAN,False,Passenger Car/Passenger Van,,NaN,False,NaN,,NaN,False,NaN,

New converted format TU-1 NM Type ['' 'Bicyclist' 'Pedestrian' 'Other Bicyclist/Cyclist']
New converted format TU-1 Type ['Unknown' 'Pickup Truck/Utility Van' 'Passenger Car/Passenger Van' 'SUV'
 'Other Vehicle Type (Describe in Narrative)' 'Motorcycle' ''
 'old__pickup_truck_utility_van_w_trailer'
 'old__truck_gvw_gr_10k_busses_gr_15_people'
 'Passenger Car/Passenger Van with Trailer - RET' 'old__SUV_w_trailer'
 'School Bus (all school buses)' 'Farm Equipment' 'Motor Home' nan]

### Convert People Metadata 

- Direction
- Movement
- Hit and Run
- Speed Limit
- Estimated Speed
- Human Contrib Factor
- Age
- Sex
- Safety restraint use
- safety helmet
- Alcohol
- Marijuana
- Other Drugs

In [113]:
# Direction 
# ************************

# Convert DIR_X (old column) to TU-X Direction and TU-X NM Direction (new column)
# Convert enum values

# Direction
old_column = 'DIR_1'
new_column = 'TU-1 Direction'
new_column2 = 'TU-1 NM Direction'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())

map_direction_x = {'S': 'South', 
                   'N': 'North',
                   'W': 'West',
                   'UK': 'Unknown',
                   'E': 'East',
                   'SE': 'Southeast',
                   'NW': 'Northwest',
                   'NE': 'Northeast',
                   'SW': 'Southwest',
                }

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Direction"] = cdot_old_pdf[f"DIR_{x}"].map(map_direction_x)
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Direction"] = cdot_old_pdf[f"DIR_{x}"].map(map_direction_x)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf[['DIR_1', 'vehicle_1_is_nm', 'TU-1 Direction', 'TU-1 NM Direction',
                      'DIR_2', 'vehicle_2_is_nm', 'TU-2 Direction', 'TU-2 NM Direction',
                      'DIR_3', 'vehicle_3_is_nm', 'TU-3 Direction', 'TU-3 NM Direction']])

Old format DIR_1 ['S' 'N' 'W' 'UK' 'E' 'SE' 'NW' 'NE' 'SW' nan]

New format TU-1 Direction ['West' 'North' 'South' 'East' nan 'Northwest' 'Southwest' 'Unknown'
 'Northeast' 'Southeast']

New format TU-1 NM Direction [nan 'North' 'West' 'East' 'South' 'Unknown' 'Northeast' 'Northwest'
 'Southeast' 'Southwest']
Old converted format TU-1 Direction ['South' 'North' 'West' 'Unknown' 'East' 'Southeast' 'Northwest'
 'Northeast' '' 'Southwest' nan]
Old converted format TU-1 NM Direction ['' 'North' 'East' 'South' 'West' 'Northwest' 'Southwest' 'Southeast'
 'Unknown' 'Northeast']

,DIR_1,vehicle_1_is_nm,TU-1 Direction,TU-1 NM Direction,DIR_2,vehicle_2_is_nm,TU-2 Direction,TU-2 NM Direction,DIR_3,vehicle_3_is_nm,TU-3 Direction,TU-3 NM Direction
0,S,False,South,,S,False,South,,NaN,False,NaN,
1,N,False,North,,N,False,North,,NaN,False,NaN,
2,W,False,West,,NaN,False,NaN,,NaN,False,NaN,
3,UK,False,Unknown,,UK,False,Unknown,,NaN,False,NaN,
4,UK,False,Unknown,,NaN,False,NaN,,NaN,False,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,S,False,South,,UK,False,Unknown,,NaN,False,NaN,
86300,N,False,North,,UK,False,Unknown,,NaN,False,NaN,
86301,E,False,East,,NaN,False,NaN,,NaN,False,NaN,
86302,E,False,East,,UK,False,Unknown,,NaN,False,NaN,
86303,E,False,East,,NaN,False,NaN,,NaN,False,NaN,

In [114]:
# Convert VEH_MOV_X (old column) to TU-X Movement and TU-X NM Movement (new column)
# Convert enum values

# Movement
old_column = 'VEH_MOVE_1'
new_column = 'TU-1 Movement'
new_column2 = 'TU-1 NM Movement'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())

map_movement_x = {'BACKING': 'Backing',
                  'OTHER': 'Other (Describe in Narrative)',
                  'AVOIDING OBJECT/VEHICLE IN ROAD': 'Swerve/Avoidance',
                  'CHANGING LANES': 'Changing Lanes',
                  'GOING STRAIGHT': 'Going Straight',
                  'ENTERING/LEAVING PARKED POSITION': 'Entering/Leaving Parked Position',
                  'PASSING': 'Passing',
                  'MAKING LEFT TURN': 'Making Left Turn',
                  'SLOWING': 'Slowing',
                  'WEAVING': 'Weaving',
                  'MAKING U-TURN': 'Making U-Turn',
                  'MAKING RIGHT TURN': 'Making Right Turn',
                  'PARKED': 'Parked',
                  'STOPPED IN TRAFFIC': 'Stopped in Traffic',
                  'WRONG WAY': 'Traveled Wrong Way',
                  'UNKNOWN': np.nan,
                 }

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Movement"] = cdot_old_pdf[f"VEH_MOVE_{x}"].map(map_movement_x)
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Movement"] = cdot_old_pdf[f"VEH_MOVE_{x}"].map(map_movement_x)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf[['VEH_MOVE_1', 'vehicle_1_is_nm', 'TU-1 Movement', 'TU-1 NM Movement',
                      'VEH_MOVE_2', 'vehicle_2_is_nm', 'TU-2 Movement', 'TU-2 NM Movement',
                      'VEH_MOVE_3', 'vehicle_3_is_nm', 'TU-3 Movement', 'TU-3 NM Movement']])

Old format VEH_MOVE_1 ['BACKING' 'OTHER' 'AVOIDING OBJECT/VEHICLE IN ROAD' 'UNKNOWN'
 'CHANGING LANES' 'GOING STRAIGHT' 'ENTERING/LEAVING PARKED POSITION'
 'PASSING' 'MAKING LEFT TURN' 'SLOWING' 'WEAVING' 'MAKING U-TURN'
 'MAKING RIGHT TURN' 'PARKED' 'STOPPED IN TRAFFIC' 'WRONG WAY' nan]

New format TU-1 Movement ['Going Straight' 'Making Left Turn' nan 'Out of Control'
 'Other (Describe in Narrative)' 'Backing' 'Making Right Turn'
 'Negotiating a Curve' 'Passing' 'Swerve/Avoidance' 'Weaving' 'Slowing'
 'Changing Lanes' 'Entering Traffic Way/Merge'
 'Entering/Leaving Parked Position' 'Stopped in Traffic' 'Making U-Turn'
 'Traveled Wrong Way' 'Parked']

New format TU-1 NM Movement [nan 'Stopped in Traffic' 'Other (Describe in Narrative)' 'Going Straight'
 'Entering Traffic Way/Merge' 'Making Right Turn' 'Making Left Turn'
 'Traveled Wrong Way' 'Swerve/Avoidance' 'Passing' 'Changing Lanes'
 'Weaving' 'Slowing' 'Negotiating a Curve' 'Out of Control'
 'Making U-Turn' 'Entering/Leaving Parked Position' 'Backing']
Old converted format TU-1 Movement ['Backing' 'Other (Describe in Narrative)' 'Swerve/Avoidance' nan
 'Changing Lanes' 'Going Straight' 'Entering/Leaving Parked Position'
 'Passing' 'Making Left Turn' 'Slowing' 'Weaving' 'Making U-Turn'
 'Making Right Turn' '' 'Parked' 'Stopped in Traffic' 'Traveled Wrong Way']
Old converted format TU-1 NM Movement ['' 'Going Straight' 'Other (Describe in Narrative)' 'Making Right Turn'
 'Traveled Wrong Way' 'Weaving' 'Making Left Turn' 'Changing Lanes'
 'Making U-Turn' 'Swerve/Avoidance' 'Slowing' nan 'Passing'
 'Stopped in Traffic']

,VEH_MOVE_1,vehicle_1_is_nm,TU-1 Movement,TU-1 NM Movement,VEH_MOVE_2,vehicle_2_is_nm,TU-2 Movement,TU-2 NM Movement,VEH_MOVE_3,vehicle_3_is_nm,TU-3 Movement,TU-3 NM Movement
0,BACKING,False,Backing,,PARKED,False,Parked,,NaN,False,NaN,
1,OTHER,False,Other (Describe in Narrative),,PARKED,False,Parked,,NaN,False,NaN,
2,AVOIDING OBJECT/VEHICLE IN ROAD,False,Swerve/Avoidance,,NaN,False,NaN,,NaN,False,NaN,
3,UNKNOWN,False,NaN,,UNKNOWN,False,NaN,,NaN,False,NaN,
4,UNKNOWN,False,NaN,,NaN,False,NaN,,NaN,False,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,MAKING LEFT TURN,False,Making Left Turn,,UNKNOWN,False,NaN,,NaN,False,NaN,
86300,GOING STRAIGHT,False,Going Straight,,UNKNOWN,False,NaN,,NaN,False,NaN,
86301,WEAVING,False,Weaving,,NaN,False,NaN,,NaN,False,NaN,
86302,GOING STRAIGHT,False,Going Straight,,UNKNOWN,False,NaN,,NaN,False,NaN,
86303,GOING STRAIGHT,False,Going Straight,,NaN,False,NaN,,NaN,False,NaN,

In [115]:
# Convert VEHICLE_X (old column) to TU-X Hit And Run
# Convert enum values

# Movement
old_column = 'VEHICLE_1'
new_column = 'TU-1 Hit And Run'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()


for x in ['1', '2', '3']:
    condition_hit_and_run__true = (cdot_old_pdf[f"vehicle_{x}_is_nm"] == False) & (cdot_old_pdf[f"VEHICLE_{x}"] == "HIT & RUN - UNKNOWN")
    condition_hit_and_run__false = (cdot_old_pdf[f"vehicle_{x}_is_nm"] == False) & (cdot_old_pdf[f"VEHICLE_{x}"] != "HIT & RUN - UNKNOWN")
    cdot_old_pdf.loc[condition_hit_and_run__true, f"TU-{x} Hit And Run"] = True
    cdot_old_pdf.loc[condition_hit_and_run__false, f"TU-{x} Hit And Run"] = False
    
print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())

display(cdot_old_pdf[['VEHICLE_1', 'vehicle_1_is_nm', 'TU-1 Hit And Run', 
                      'VEHICLE_2', 'vehicle_2_is_nm', 'TU-2 Hit And Run', 
                      'VEHICLE_3', 'vehicle_3_is_nm', 'TU-3 Hit And Run']])

Old format VEHICLE_1 ['HIT & RUN - UNKNOWN' 'PICKUP TRUCK/UTILITY VAN' 'PASSENGER CAR/VAN'
 'SUV' 'UNKNOWN' 'OTHER - SEE REPORT' 'MOTORCYCLE'
 'NON-SCHOOL BUS < 15 PEOPLE' 'PICKUP TRUCK/UTILITY VAN W/TRAILER'
 'BICYCLE' 'TRUCK GVW > 10K/BUSSES > 15 PEOPLE'
 'PASSENGER CAR/VAN W/TRAILER' 'SUV W/TRAILER' 'SCHOOL BUS < 15 PEOPLE'
 'FARM EQUIPMENT' 'MOTOR HOME' 'MOTORIZED BICYCLE' nan]

New format TU-1 Hit And Run [ True False]

Old converted format TU-1 Hit And Run [True False nan]

,VEHICLE_1,vehicle_1_is_nm,TU-1 Hit And Run,VEHICLE_2,vehicle_2_is_nm,TU-2 Hit And Run,VEHICLE_3,vehicle_3_is_nm,TU-3 Hit And Run
0,HIT & RUN - UNKNOWN,False,True,SUV,False,False,NaN,False,False
1,HIT & RUN - UNKNOWN,False,True,PASSENGER CAR/VAN,False,False,NaN,False,False
2,PICKUP TRUCK/UTILITY VAN,False,False,NaN,False,False,NaN,False,False
3,HIT & RUN - UNKNOWN,False,True,UNKNOWN,False,False,NaN,False,False
4,HIT & RUN - UNKNOWN,False,True,NaN,False,False,NaN,False,False
...,...,...,...,...,...,...,...,...,...
86299,PASSENGER CAR/VAN,False,False,UNKNOWN,False,False,NaN,False,False
86300,PASSENGER CAR/VAN,False,False,UNKNOWN,False,False,NaN,False,False
86301,PICKUP TRUCK/UTILITY VAN,False,False,NaN,False,False,NaN,False,False
86302,PASSENGER CAR/VAN,False,False,UNKNOWN,False,False,NaN,False,False
86303,PASSENGER CAR/VAN,False,False,NaN,False,False,NaN,False,False

In [116]:
# Convert LIMIT_X (old column) to TU-X Speed Limit (new column)
# Convert data type

old_column = 'LIMIT1'
new_column = 'TU-1 Speed Limit'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Speed Limit"] = cdot_old_pdf[f"LIMIT{x}"].replace('UK', '-1').astype(int).replace(-1, np.nan)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())

display(cdot_old_pdf[['VEHICLE_1', 'vehicle_1_is_nm', 'LIMIT1', 'TU-1 Speed Limit', 
                      'VEHICLE_2', 'vehicle_2_is_nm', 'LIMIT2', 'TU-2 Speed Limit', 
                      'VEHICLE_3', 'vehicle_3_is_nm', 'LIMIT3', 'TU-3 Speed Limit']])

Old format LIMIT1 ['UK' '60' '65' '55' '35' '25' '30' '20' '75' '40' '45' '50' '15' '10'
 '05' '70' '34' '19' '36' '01' '02' '26' '14' '04' '09' '03' '54' '13'
 '24' '12' '80' '31' '56' '08' '06' '33' '49' '16' '90' '39' '53' '44'
 '46' '22']

New format TU-1 Speed Limit [ 35  40  25  45   0  65  30  20  55  75  50   3   5  15  60   2  10 305
 335  17  70  19  24 350  36 355 225 353   4 210   6  18  13  66 575 650
  11  48  21 530  23 490  64 405  43  46  85  34 385]

Old converted format TU-1 Speed Limit [nan 60.0 65.0 55.0 35.0 25.0 30.0 20.0 75.0 40.0 45.0 50.0 '' 15.0 10.0
 5.0 70.0 34.0 19.0 36.0 1.0 2.0 26.0 14.0 4.0 9.0 3.0 54.0 13.0 24.0 12.0
 80.0 31.0 56.0 8.0 6.0 33.0 49.0 16.0 90.0 39.0 53.0 44.0 46.0 22.0]

,VEHICLE_1,vehicle_1_is_nm,LIMIT1,TU-1 Speed Limit,VEHICLE_2,vehicle_2_is_nm,LIMIT2,TU-2 Speed Limit,VEHICLE_3,vehicle_3_is_nm,LIMIT3,TU-3 Speed Limit
0,HIT & RUN - UNKNOWN,False,UK,NaN,SUV,False,UK,NaN,NaN,False,UK,NaN
1,HIT & RUN - UNKNOWN,False,UK,NaN,PASSENGER CAR/VAN,False,UK,NaN,NaN,False,UK,NaN
2,PICKUP TRUCK/UTILITY VAN,False,60,60.0,NaN,False,UK,NaN,NaN,False,UK,NaN
3,HIT & RUN - UNKNOWN,False,UK,NaN,UNKNOWN,False,UK,NaN,NaN,False,UK,NaN
4,HIT & RUN - UNKNOWN,False,UK,NaN,NaN,False,UK,NaN,NaN,False,UK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,PASSENGER CAR/VAN,False,25,25.0,UNKNOWN,False,UK,NaN,NaN,False,UK,NaN
86300,PASSENGER CAR/VAN,False,25,25.0,UNKNOWN,False,UK,NaN,NaN,False,UK,NaN
86301,PICKUP TRUCK/UTILITY VAN,False,25,25.0,NaN,False,UK,NaN,NaN,False,UK,NaN
86302,PASSENGER CAR/VAN,False,35,35.0,UNKNOWN,False,UK,NaN,NaN,False,UK,NaN
86303,PASSENGER CAR/VAN,False,35,35.0,NaN,False,UK,NaN,NaN,False,UK,NaN

In [117]:
# Convert SPEED_X (old column) to TU-X Estimated Speed (new column)
# Convert using regular expressions - remove leading zeros, convert to int, 
# handle 'UK' --> placeholder --> nan

import re 

old_column = 'SPEED_1'
new_column = 'TU-1 Estimated Speed'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Estimated Speed"] = cdot_old_pdf[f"SPEED_{x}"].replace('UK', '-1').replace(np.nan, '-1').str.replace(r'^0+(?!\s*$)', '', regex=True).astype('int').replace(-1, np.nan)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())

display(cdot_old_pdf[['VEHICLE_1', 'vehicle_1_is_nm', 'SPEED_1', 'TU-1 Estimated Speed', 
                      'VEHICLE_2', 'vehicle_2_is_nm', 'SPEED_2', 'TU-2 Estimated Speed', 
                      'VEHICLE_3', 'vehicle_3_is_nm', 'SPEED_3', 'TU-3 Estimated Speed']])

Old format SPEED_1 ['UK' '055' '060' '045' '035' '005' '100' '030' '010' '020' '075' '050'
 '040' '015' '025' '065' '070' '013' '002' '003' '012' '022' '008' '018'
 '058' '042' '001' '000' '054' '007' '080' '067' '027' '095' '048' '093'
 '105' '053' '032' '082' '063' '090' '068' '014' '006' '004' '046' '043'
 '079' '037' '017' '078' '036' '019' '052' '059' '085' '034' '047' '087'
 '083' '062' nan '021' '056' '028' '024' '009' '066' '033' '061' '038'
 '064' '107' '120' '073' '072' '069' '023' '077' '110' '103' '051' '016'
 '026' '076' '041' '057' '099' '455' '145' '088' '510' '044' '094' '029'
 '091' '435' '011' '039' '098' '071' '049' '081' '115' '125' '097' '106'
 '074' '135' '092' '031' '560' '140' '121' '096' '117' '101' '108' '089'
 '126' '084' '134']

New format TU-1 Estimated Speed [  0  20  35  45  65  25  50  40  15  55  75  30   5  60  10   2  14  26
   1  32  70  80  28  48 255  85   3  27  13  81  18  47   4  54   7  37
  33   8  87  58 100  67  90  51  38  95  43  12  71  21  42  53  22  62
  36  66  74  49   6  56  19  78  29  46  76  52 101  69  63  72  93  73
  99  57  79  16  31  41  64  44  82 506   9 105  34  39  86  -3  98 252
  77  17 115  59 110 325  68 120 102  88  61 130 107  83 134 114  23 152
 127  91  11 103  97 140  96 118 150  92  24 106 108 245 335]

Old converted format TU-1 Estimated Speed [nan 55.0 60.0 45.0 35.0 5.0 100.0 30.0 10.0 20.0 75.0 50.0 40.0 15.0 25.0
 65.0 70.0 13.0 2.0 3.0 12.0 '' 22.0 8.0 18.0 58.0 42.0 1.0 0.0 54.0 7.0
 80.0 67.0 27.0 95.0 48.0 93.0 105.0 53.0 32.0 82.0 63.0 90.0 68.0 14.0
 6.0 4.0 46.0 43.0 79.0 37.0 17.0 78.0 36.0 19.0 52.0 59.0 85.0 34.0 47.0
 87.0 83.0 62.0 21.0 56.0 28.0 24.0 9.0 66.0 33.0 61.0 38.0 64.0 107.0
 120.0 73.0 72.0 69.0 23.0 77.0 110.0 103.0 51.0 16.0 26.0 76.0 41.0 57.0
 99.0 455.0 145.0 88.0 510.0 44.0 94.0 29.0 91.0 435.0 11.0 39.0 98.0 71.0
 49.0 81.0 115.0 125.0 97.0 106.0 74.0 135.0 92.0 31.0 560.0 140.0 121.0
 96.0 117.0 101.0 108.0 89.0 126.0 84.0 134.0]

,VEHICLE_1,vehicle_1_is_nm,SPEED_1,TU-1 Estimated Speed,VEHICLE_2,vehicle_2_is_nm,SPEED_2,TU-2 Estimated Speed,VEHICLE_3,vehicle_3_is_nm,SPEED_3,TU-3 Estimated Speed
0,HIT & RUN - UNKNOWN,False,UK,NaN,SUV,False,000,0.0,NaN,False,NaN,NaN
1,HIT & RUN - UNKNOWN,False,UK,NaN,PASSENGER CAR/VAN,False,000,0.0,NaN,False,NaN,NaN
2,PICKUP TRUCK/UTILITY VAN,False,055,55.0,NaN,False,NaN,NaN,NaN,False,NaN,NaN
3,HIT & RUN - UNKNOWN,False,UK,NaN,UNKNOWN,False,UK,NaN,NaN,False,NaN,NaN
4,HIT & RUN - UNKNOWN,False,UK,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,PASSENGER CAR/VAN,False,025,25.0,UNKNOWN,False,UK,NaN,NaN,False,NaN,NaN
86300,PASSENGER CAR/VAN,False,025,25.0,UNKNOWN,False,UK,NaN,NaN,False,NaN,NaN
86301,PICKUP TRUCK/UTILITY VAN,False,025,25.0,NaN,False,NaN,NaN,NaN,False,NaN,NaN
86302,PASSENGER CAR/VAN,False,035,35.0,UNKNOWN,False,UK,NaN,NaN,False,NaN,NaN
86303,PASSENGER CAR/VAN,False,045,45.0,NaN,False,NaN,NaN,NaN,False,NaN,NaN

In [118]:
# Convert FACTOR_X (old column) to TU-X Human Contributing Factor and TU-X NM Human Contributing Factor (new column)
# Convert enum values

old_column = 'FACTOR_1'
new_column = 'TU-1 Human Contributing Factor'
new_column2 = 'TU-1 NM Human Contributing Factor '

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())
print()

map_factor_x = {'NO APPARENT CONTRIBUTING FACTOR': 'No Apparent Contributing Factor',
                'UNKNOWN': np.nan,
                'DRIVER UNFAMILIAR WITH AREA': 'Driver Unfamiliar With Area',
                'DRIVER PREOCCUPIED':'Distracted',
                'DRIVER INEXPERIENCE': 'Driver Inexperience',
                'DRIVER FATIGUE': 'Asleep or Fatigued',
                'ASLEEP AT WHEEL': 'Asleep at the wheel',
                'ILLNESS': 'Illness',
                'DRIVER EMOTIONALLY UPSET': 'Driver Emotionally Upset',
                'DISTRACTED BY PASSENGER': 'Distracted/Other Occupant',
                'EVADING LAW ENFORCEMENT OFFICER': 'Evading Law Enforcement Officer',
                'PHYSICAL DISABILITY': 'Physical Disability',
               }

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Human Contributing Factor "] = cdot_old_pdf[f"FACTOR_{x}"].map(map_factor_x)
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Human Contributing Factor"] = cdot_old_pdf[f"FACTOR_{x}"].map(map_factor_x)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf.loc[cdot_old_pdf['vehicle_1_is_nm'] == True, ['FACTOR_1', 'vehicle_1_is_nm', 'TU-1 Human Contributing Factor', 'TU-1 NM Human Contributing Factor ',
                      'FACTOR_2', 'vehicle_2_is_nm', 'TU-2 Human Contributing Factor', 'TU-2 NM Human Contributing Factor ',
                      'FACTOR_3', 'vehicle_3_is_nm', 'TU-3 Human Contributing Factor', 'TU-3 NM Human Contributing Factor ']])

Old format FACTOR_1 ['NO APPARENT CONTRIBUTING FACTOR' 'UNKNOWN' 'DRIVER UNFAMILIAR WITH AREA'
 'DRIVER PREOCCUPIED' 'DRIVER INEXPERIENCE' 'DRIVER FATIGUE'
 'ASLEEP AT WHEEL' 'ILLNESS' 'DRIVER EMOTIONALLY UPSET'
 'DISTRACTED BY PASSENGER' 'EVADING LAW ENFORCEMENT OFFICER'
 'PHYSICAL DISABILITY' nan]

New format TU-1 Human Contributing Factor [nan 'Distracted - Other Interior' 'Aggressive Driving'
 'Other Factor (Describe in Narrative)' 'Not Observed'
 'No Apparent Contributing Factor' 'Looked/Did Not See'
 'Driver Inexperience' 'Driver Emotionally Upset' 'Asleep or Fatigued'
 'Driver Unfamiliar With Area' 'Age/Driver Ability' 'Sun Glare'
 'Distracted/Other Occupant' 'Distracted - Other Exterior'
 'Distracted - Manipulating Electronic Device' 'Medical'
 'Distracted - Talking on Phone/ Hands Free'
 'Evading Law Enforcement Officer' 'Distracted - Eating/Drinking'
 'Distracted - Smoking' 'Distracted - Manipulating Vehicle Control'
 'Distracted - Talking on Phone/Holding' 'Physical Disability' 'Illness'
 'Asleep at the wheel' 'Distracted/Other' 'Distracted/Cell Phone']

New format TU-1 NM Human Contributing Factor  [nan 'Not Visible (Dark Clothing, No Lighting, etc.)'
 'Under The Influence of Alcohol or Drugs' 'Inexperience'
 'No Apparent Contributing Factor' 'Looked/Did Not See'
 'Other Factor (Describe in Narrative)' 'Physical Disability'
 'Distracted/Headphones' 'Aggressive' 'Emotionally Upset'
 'Unfamiliar With Area' 'Age/Ability'
 'Distracted/Other i.e. Food, Objects, Pet, etc.' 'Illness/Medical'
 'Evading Law Enforcement Officer'
 'Distracted â€“ Manipulating Electronic Device' 'Sun Glare'
 'Asleep or Fatigued' 'Distracted/Passenger' 'Distracted/Cell Phone']

Old converted format TU-1 Human Contributing Factor ['No Apparent Contributing Factor' nan 'Driver Unfamiliar With Area'
 'Distracted' 'Driver Inexperience' 'Asleep or Fatigued'
 'Asleep at the wheel' 'Illness' 'Driver Emotionally Upset' ''
 'Distracted/Other Occupant' 'Evading Law Enforcement Officer'
 'Physical Disability']
Old converted format TU-1 NM Human Contributing Factor  ['' nan 'No Apparent Contributing Factor' 'Distracted'
 'Evading Law Enforcement Officer' 'Driver Inexperience'
 'Driver Unfamiliar With Area' 'Asleep or Fatigued' 'Illness']

,FACTOR_1,vehicle_1_is_nm,TU-1 Human Contributing Factor,TU-1 NM Human Contributing Factor,FACTOR_2,vehicle_2_is_nm,TU-2 Human Contributing Factor,TU-2 NM Human Contributing Factor,FACTOR_3,vehicle_3_is_nm,TU-3 Human Contributing Factor,TU-3 NM Human Contributing Factor
156,UNKNOWN,True,,NaN,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,
240,NO APPARENT CONTRIBUTING FACTOR,True,,No Apparent Contributing Factor,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,
307,NO APPARENT CONTRIBUTING FACTOR,True,,No Apparent Contributing Factor,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,
377,UNKNOWN,True,,NaN,UNKNOWN,False,NaN,,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,
816,NO APPARENT CONTRIBUTING FACTOR,True,,No Apparent Contributing Factor,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,
...,...,...,...,...,...,...,...,...,...,...,...,...
84431,UNKNOWN,True,,NaN,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NaN,False,NaN,
84653,UNKNOWN,True,,NaN,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NaN,False,NaN,
85063,UNKNOWN,True,,NaN,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NaN,False,NaN,
86198,UNKNOWN,True,,NaN,NO APPARENT CONTRIBUTING FACTOR,False,No Apparent Contributing Factor,,NaN,False,NaN,
86248,UNKNOWN,True,,NaN,UNKNOWN,False,NaN,,NaN,False,NaN,

In [119]:
# AGE

# Convert AGE_X (old column) to TU-X Age and TU-X NM Age (new column)
# Rename column

old_column = 'AGE_1'
new_column = 'TU-1 Age'
new_column2 = 'TU-1 NM Age '

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())
print()



for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Age "] = cdot_old_pdf[f"AGE_{x}"]
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Age"] = cdot_old_pdf[f"AGE_{x}"]

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf[['AGE_1', 'vehicle_1_is_nm', 'TU-1 Age', 'TU-1 NM Age ',
                      'AGE_2', 'vehicle_2_is_nm', 'TU-2 Age', 'TU-2 NM Age ',
                      'AGE_3', 'vehicle_3_is_nm', 'TU-3 Age', 'TU-3 NM Age ']])

Old format AGE_1 [ 0 27 30 17 28 20 18 29 24 74 16 51 26 25 19 37 21 46 22 58 65 44 36 33
 63 41 38 47 57 50 23 43 56 72 34 66 77 64 52 39 75 49 60 62 71 35 40 53
 54 45 94 31 87 32 59 42 69 48 55 79 82 70 81 68 61 67 86 76 73 88 78 84
 80 83 14 91 15 90 89 85 11 92 13 95 93 10  9 97  8  7 12  5 98 96  4  6
  2  1  3 99]

New format TU-1 Age [ 0 25 29 23 32 24 19 57 17 31 35 40 18 27 21 26 52 22 50 37 33 30 16 64
 20 63 49 45 75 56 61 44 41 43 74 67 48 47 72 73 28 36 38 69 42 51 62 54
 59 65 46 34 55 39 53 78 58 84 66 79 70 76 60 77 89 68 83 71 87 81 82 85
 93 80 15 86 91 88 92 13 14 90 94 96 95 99 97  5  2  1 10  9 98 12 11  6]

New format TU-1 NM Age  [nan 29. 12. 47. 27. 77. 32. 33. 25. 41. 26. 49. 13. 57. 20. 60. 63. 19.
 23. 17. 34. 28. 30. 69. 39. 45. 70. 38. 62. 51. 43. 44. 15. 16. 66.  7.
 74. 76. 56. 42. 55. 59. 35. 67. 61. 36. 46.  3. 64. 21. 24. 54. 10. 22.
 31. 14. 78. 40. 50. 71. 80.  9.  8.  4. 37.  5. 82. 48. 11. 18.  2. 52.
 73. 84. 65. 53.  6. 75. 58. 68. 91. 79. 81. 85. 72.]

Old converted format TU-1 Age [0 27 30 17 28 20 18 29 24 74 16 51 26 25 19 37 21 46 22 58 65 44 36 33 63
 41 38 47 57 50 23 43 56 72 34 66 77 64 52 39 75 49 60 62 71 35 40 53 54
 45 '' 94 31 87 32 59 42 69 48 55 79 82 70 81 68 61 67 86 76 73 88 78 84
 80 83 14 91 15 90 89 85 92 95 93 97 13 9 7 12 98 96 10 11 99]
Old converted format TU-1 NM Age  ['' 41 0 23 34 55 63 33 65 40 66 61 30 20 38 16 11 25 13 53 49 54 35 50 18
 14 44 76 27 22 39 17 58 21 60 45 29 28 32 75 24 47 71 10 9 19 36 42 37 26
 46 51 52 31 15 8 59 7 12 5 70 83 64 48 56 43 69 4 57 78 62 73 6 72 2 1 74
 3 89 67 80]

,AGE_1,vehicle_1_is_nm,TU-1 Age,TU-1 NM Age,AGE_2,vehicle_2_is_nm,TU-2 Age,TU-2 NM Age,AGE_3,vehicle_3_is_nm,TU-3 Age,TU-3 NM Age
0,0,False,0,,0,False,0,,0,False,0,
1,0,False,0,,0,False,0,,0,False,0,
2,27,False,27,,0,False,0,,0,False,0,
3,0,False,0,,0,False,0,,0,False,0,
4,0,False,0,,0,False,0,,0,False,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,21,False,21,,0,False,0,,0,False,0,
86300,21,False,21,,0,False,0,,0,False,0,
86301,26,False,26,,0,False,0,,0,False,0,
86302,23,False,23,,0,False,0,,0,False,0,
86303,21,False,21,,0,False,0,,0,False,0,

In [120]:
# SEX

# Convert SEX_X (old column) to TU-X Sex and TU-X NM Sex (new column)
# Rename Column 

old_column = 'SEX_1'
new_column = 'TU-1 Sex '
new_column2 = 'TU-1 NM Sex '

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())
print()

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Sex "] = cdot_old_pdf[f"SEX_{x}"]
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Sex "] = cdot_old_pdf[f"SEX_{x}"]

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf[['SEX_1', 'vehicle_1_is_nm', 'TU-1 Sex ', 'TU-1 NM Sex ',
                      'SEX_2', 'vehicle_2_is_nm', 'TU-2 Sex ', 'TU-2 NM Sex ',
                      'SEX_3', 'vehicle_3_is_nm', 'TU-3 Sex ', 'TU-3 NM Sex ']])

Old format SEX_1 ['U' nan 'F' 'M' 'X']

New format TU-1 Sex  [nan 'M' 'F' 'U' 'X']

New format TU-1 NM Sex  [nan 'F' 'M' 'U' 'X']

Old converted format TU-1 Sex  ['U' nan 'F' 'M' '' 'X']
Old converted format TU-1 NM Sex  ['' 'M' 'F' nan 'U']

,SEX_1,vehicle_1_is_nm,TU-1 Sex,TU-1 NM Sex,SEX_2,vehicle_2_is_nm,TU-2 Sex,TU-2 NM Sex,SEX_3,vehicle_3_is_nm,TU-3 Sex,TU-3 NM Sex
0,U,False,U,,NaN,False,NaN,,NaN,False,NaN,
1,NaN,False,NaN,,NaN,False,NaN,,NaN,False,NaN,
2,F,False,F,,NaN,False,NaN,,NaN,False,NaN,
3,NaN,False,NaN,,NaN,False,NaN,,NaN,False,NaN,
4,NaN,False,NaN,,NaN,False,NaN,,NaN,False,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,F,False,F,,NaN,False,NaN,,NaN,False,NaN,
86300,F,False,F,,NaN,False,NaN,,NaN,False,NaN,
86301,F,False,F,,NaN,False,NaN,,NaN,False,NaN,
86302,F,False,F,,NaN,False,NaN,,NaN,False,NaN,
86303,F,False,F,,NaN,False,NaN,,NaN,False,NaN,

In [121]:
# Safety Restraint Use 

# Convert BELT_X (old column) to TU-X Safety restaint Use (new column)
 # Map values

old_column = 'BELT_1'
new_column = 'TU-1 Safety restraint Use'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()

map_belt_x = {"Y": "old__yes",
              "N": "old__no"}

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Safety restraint Use"] = cdot_old_pdf[f"BELT_{x}"].map(map_belt_x)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())

display(cdot_old_pdf[['BELT_1', 'vehicle_1_is_nm', 'TU-1 Safety restraint Use', 
                      'BELT_2', 'vehicle_2_is_nm', 'TU-2 Safety restraint Use', 
                      'BELT_3', 'vehicle_3_is_nm', 'TU-3 Safety restraint Use']])

Old format BELT_1 [nan 'Y' 'N']

New format TU-1 Safety restraint Use [nan 'Properly Used' 'Unknown' 'Not Used' 'Improperly Used']

Old converted format TU-1 Safety restraint Use [nan 'old__yes' 'old__no' '']

,BELT_1,vehicle_1_is_nm,TU-1 Safety restraint Use,BELT_2,vehicle_2_is_nm,TU-2 Safety restraint Use,BELT_3,vehicle_3_is_nm,TU-3 Safety restraint Use
0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN
1,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN
2,Y,False,old__yes,NaN,False,NaN,NaN,False,NaN
3,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN
4,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...
86299,N,False,old__no,NaN,False,NaN,NaN,False,NaN
86300,N,False,old__no,NaN,False,NaN,NaN,False,NaN
86301,Y,False,old__yes,NaN,False,NaN,NaN,False,NaN
86302,Y,False,old__yes,NaN,False,NaN,NaN,False,NaN
86303,Y,False,old__yes,NaN,False,NaN,NaN,False,NaN

In [122]:
# Safety Helmet - TODO ISSUE WITH POPULATING WRONG COLUMN ... 

# Convert CYCPROT_X (old column) to TU-X Safety Helmet and TU-X NM Safety Helmet (new column)
# Convert enums

old_column = 'CYCPROT_1'
new_column = 'TU-1 Safety Helmet'
new_column2 = 'TU-1 NM Safety Helmet '

map_helmet_x = {'NONE': 'No Helmet',
                'EYE PROTECTION ONLY': 'old__eye_protection_only',
                'BICYCLE HELMET (BICYCLE ONLY)': 'old__bicycle_helmet_bicycle_only',
                'HELMET AND EYE PROTECTION': 'old__helmet_and_eye_protection',
                'HELMET ONLY': 'old__helmet_only',
               }

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())
print()

for x in ['1', '2', '3']:
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == True, f"TU-{x} NM Safety Helmet "] = cdot_old_pdf[f"CYCPROT_{x}"].map(map_helmet_x)
    cdot_old_pdf.loc[cdot_old_pdf[f"vehicle_{x}_is_nm"] == False, f"TU-{x} Safety Helmet"] = cdot_old_pdf[f"CYCPROT_{x}"].map(map_helmet_x)

print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf.loc[cdot_old_pdf['vehicle_1_is_nm'] == True, ['CYCPROT_1', 'vehicle_1_is_nm', 'TU-1 Safety Helmet', 'TU-1 NM Safety Helmet ',
                      'CYCPROT_2', 'vehicle_2_is_nm', 'TU-2 Safety Helmet', 'TU-2 NM Safety Helmet ',
                      'CYCPROT_3', 'vehicle_3_is_nm', 'TU-3 Safety Helmet', 'TU-3 NM Safety Helmet ']])

Old format CYCPROT_1 ['NONE' nan 'EYE PROTECTION ONLY' 'BICYCLE HELMET (BICYCLE ONLY)'
 'HELMET AND EYE PROTECTION' 'HELMET ONLY']

New format TU-1 Safety Helmet [nan 'N/A (Cars/Trucks)' 'Unknown (Describe in Narrative)' 'No Helmet'
 'Available, Not Used' 'Helmet Properly used' 'Helmet Improperly used']

New format TU-1 NM Safety Helmet  [nan 'No Helmet' 'N/A (Cars/Trucks)' 'Unknown (Describe in Narrative)'
 'Helmet Properly used' 'Available, Not Used' 'Helmet Improperly used']

Old converted format TU-1 Safety Helmet ['No Helmet' nan 'old__eye_protection_only' ''
 'old__helmet_and_eye_protection' 'old__helmet_only']
Old converted format TU-1 NM Safety Helmet  ['' 'old__bicycle_helmet_bicycle_only' 'No Helmet' nan 'old__helmet_only'
 'old__helmet_and_eye_protection']

,CYCPROT_1,vehicle_1_is_nm,TU-1 Safety Helmet,TU-1 NM Safety Helmet,CYCPROT_2,vehicle_2_is_nm,TU-2 Safety Helmet,TU-2 NM Safety Helmet,CYCPROT_3,vehicle_3_is_nm,TU-3 Safety Helmet,TU-3 NM Safety Helmet
156,BICYCLE HELMET (BICYCLE ONLY),True,,old__bicycle_helmet_bicycle_only,NONE,False,No Helmet,,NaN,False,NaN,
240,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
307,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
377,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
816,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
84431,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
84653,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
85063,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
86198,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,
86248,NONE,True,,No Helmet,NONE,False,No Helmet,,NaN,False,NaN,

In [123]:
# Alcohol, Drugs, Marijuana 

# Convert DRIVER_X and DUI_X (old column) to TU-X Alcohol Suspected and TU-X NM Alcohol Suspected (new column)
# Convert enums

old_column = 'DRIVER_1'
old_column2 = 'DUI_1'
new_column = 'TU-1 Alcohol Suspected'
new_column2 = 'TU-1 NM Alcohol Suspected '
new_column3 = 'TU-1  Marijuana Suspected'
new_column4 = 'TU-1 NM Marijuana Suspected '
new_column5 = 'TU-1 Other Drugs Suspected '
new_column6 = 'TU-1 NM Other Drugs Suspected '

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print()
print(f"Old format {old_column2}", cdot_old_pdf[old_column2].unique())
print()
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
print()
print(f"New format {new_column2}", cdot_new_pdf[new_column2].unique())
print()
print(f"New format {new_column3}", cdot_new_pdf[new_column3].unique())
print()
print(f"New format {new_column4}", cdot_new_pdf[new_column4].unique())
print()
print(f"New format {new_column5}", cdot_new_pdf[new_column5].unique())
print()
print(f"New format {new_column6}", cdot_new_pdf[new_column6].unique())
print()

Old format DRIVER_1 ['NO IMPAIRMENT SUSPECTED' 'ALCOHOL INVOLVED' 'ALCOHOL/DRUGS'
 'RX/MEDICATION/DRUGS']

Old format DUI_1 ['N' 'Y']

New format TU-1 Alcohol Suspected [nan 'Yes - Observed' 'No - Observed' 'Yes - Preliminary Breath Test'
 'Yes - Other Method' 'Yes - SFST' 'No - SFST' 'No - Other Method'
 'No - Preliminary Breath Test' 'Unknown']

New format TU-1 NM Alcohol Suspected  [nan 'Yes - Other Method' 'Yes - Observed' 'No - Observed'
 'No - Other Method' 'Yes - Preliminary Breath Test'
 'No - Preliminary Breath Test' 'No - SFST' 'Yes - SFST']

New format TU-1  Marijuana Suspected [nan 'Unknown' 'Marijuana Not Suspected' 'Marijuana Suspected']

New format TU-1 NM Marijuana Suspected  [nan 'Marijuana Suspected' 'Marijuana Not Suspected' 'Unknown']

New format TU-1 Other Drugs Suspected  [nan 'No - Observed' 'No - Other Method' 'Yes - Observed' 'Unknown'
 'No - Drug Recognition Expert' 'No - SFST' 'Yes - SFST'
 'Yes - Other Method' 'Yes - Drug Recognition Expert']

New format TU-1 NM Other Drugs Suspected  [nan 'Yes - Other Method' 'No - Observed' 'No - Other Method'
 'No - Drug Recognition Expert' 'Yes - Observed' 'No - SFST'
 'Yes - Drug Recognition Expert']

In [124]:
cdot_old_pdf[['DRIVER_1', 'DUI_1', 'DRIVER_2', 'DUI_2']]

                      DRIVER_1 DUI_1                 DRIVER_2 DUI_2
0      NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
1      NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
2      NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
3      NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
4      NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
...                        ...   ...                      ...   ...
86299         ALCOHOL INVOLVED     Y  NO IMPAIRMENT SUSPECTED     N
86300         ALCOHOL INVOLVED     Y  NO IMPAIRMENT SUSPECTED     N
86301         ALCOHOL INVOLVED     N  NO IMPAIRMENT SUSPECTED     N
86302  NO IMPAIRMENT SUSPECTED     N  NO IMPAIRMENT SUSPECTED     N
86303         ALCOHOL INVOLVED     N  NO IMPAIRMENT SUSPECTED     N

[86304 rows x 4 columns]

In [126]:
for x in ['1', '2', '3']:
    condition_motorist = cdot_old_pdf[f"vehicle_{x}_is_nm"] == False
    condition_non_motorist = cdot_old_pdf[f"vehicle_{x}_is_nm"] == True
    condition_no_impairment = cdot_old_pdf[f"DRIVER_{x}"] == 'NO IMPAIRMENT SUSPECTED'
    condition_alcohol_involved = cdot_old_pdf[f"DRIVER_{x}"] == 'ALCOHOL INVOLVED'
    condition_alcohol_drugs = cdot_old_pdf[f"DRIVER_{x}"] == 'ALCOHOL/DRUGS'
    condition_rx_med_drugs = cdot_old_pdf[f"DRIVER_{x}"] == 'RX/MEDICATION/DRUGS'

    # No Impairment 
    # OLD: NO IMPAIRMENT SUSPECTED 
    # --> NEW Alcohol Suspected - "No" 
    # --> NEW Marijuana Suspected - "Marijuana Not Suspected"
    # --> NEW Other Drugs Suspected - "No" 
    cdot_old_pdf.loc[condition_non_motorist & condition_no_impairment, f"TU-{x} NM Alcohol Suspected "] = "No"
    cdot_old_pdf.loc[condition_non_motorist & condition_no_impairment, f"TU-{x} NM Marijuana Suspected "] = 'Marijuana Not Suspected'
    cdot_old_pdf.loc[condition_non_motorist & condition_no_impairment, f"TU-{x} NM Other Drugs Suspected "] = "No"

    cdot_old_pdf.loc[condition_motorist & condition_no_impairment, f"TU-{x} Alcohol Suspected"] = "No"
    cdot_old_pdf.loc[condition_motorist & condition_no_impairment, f"TU-{x}  Marijuana Suspected"] = 'Marijuana Not Suspected'
    cdot_old_pdf.loc[condition_motorist & condition_no_impairment, f"TU-{x} Other Drugs Suspected "] = "No"

    # Alcohol Involved 
    # OLD: ALCOHOL INVOLVED 
    # --> New Alcohol Suspected - "Yes" 
    # --> NEW Marijuana Suspected - "Unknown"
    # --> NEW Other Drugs Suspected - "Unknown" 
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_involved, f"TU-{x} NM Alcohol Suspected "] = "Yes"
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_involved, f"TU-{x} NM Marijuana Suspected "] = 'Unknown'
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_involved, f"TU-{x} NM Other Drugs Suspected "] = "Unknown"

    cdot_old_pdf.loc[condition_motorist & condition_alcohol_involved, f"TU-{x} Alcohol Suspected"] = "Yes"
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_involved, f"TU-{x}  Marijuana Suspected"] = 'Unknown'
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_involved, f"TU-{x} Other Drugs Suspected "] = "Unknown"

    # Alcohol / Drugs 
    # OLD: ALCOHOL/DRUGS 
    # --> New Alcohol Suspected - "old__alcohol_drugs" 
    # --> NEW Marijuana Suspected - "old__alcohol_drugs"
    # --> NEW Other Drugs Suspected - "old__alcohol_drugs"
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Alcohol Suspected "] = "old__alcohol_drugs"
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Marijuana Suspected "] = 'old__alcohol_drugs'
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Other Drugs Suspected "] = "old__alcohol_drugs"

    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x} Alcohol Suspected"] = "old__alcohol_drugs"
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x}  Marijuana Suspected"] = 'old__alcohol_drugs'
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x} Other Drugs Suspected "] = "old__alcohol_drugs"

    # RX/MEDICATION/DRUGS
    # OLD: RX/MEDICATION/DRUGS 
    # --> New Alcohol Suspected - "No" 
    # --> NEW Marijuana Suspected - "old__rx_medication_drugs"
    # --> NEW Other Drugs Suspected - "old__rx_medication_drugs"
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Alcohol Suspected "] = "No"
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Marijuana Suspected "] = 'old__rx_medication_drugs'
    cdot_old_pdf.loc[condition_non_motorist & condition_alcohol_drugs, f"TU-{x} NM Other Drugs Suspected "] = "old__rx_medication_drugs"

    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x} Alcohol Suspected"] = "No"
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x}  Marijuana Suspected"] = 'old__rx_medication_drugs'
    cdot_old_pdf.loc[condition_motorist & condition_alcohol_drugs, f"TU-{x} Other Drugs Suspected "] = "old__rx_medication_drugs"


print(f"Old converted format {new_column}", cdot_old_pdf[new_column].unique())
print(f"Old converted format {new_column2}", cdot_old_pdf[new_column2].unique())

display(cdot_old_pdf.loc[cdot_old_pdf['vehicle_1_is_nm'] == False, ['DRIVER_1', 'vehicle_1_is_nm', 'TU-1 Alcohol Suspected', 'TU-1 NM Alcohol Suspected ',
                      'DRIVER_2', 'vehicle_2_is_nm', 'TU-2 Alcohol Suspected', 'TU-2 NM Alcohol Suspected ',
                      'DRIVER_3', 'vehicle_3_is_nm', 'TU-3 Alcohol Suspected', 'TU-3 NM Alcohol Suspected ',]])

Old converted format TU-1 Alcohol Suspected ['No' 'Yes' '']
Old converted format TU-1 NM Alcohol Suspected  ['' 'No' 'Yes']

,DRIVER_1,vehicle_1_is_nm,TU-1 Alcohol Suspected,TU-1 NM Alcohol Suspected,DRIVER_2,vehicle_2_is_nm,TU-2 Alcohol Suspected,TU-2 NM Alcohol Suspected,DRIVER_3,vehicle_3_is_nm,TU-3 Alcohol Suspected,TU-3 NM Alcohol Suspected
0,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
1,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
2,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
3,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
4,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
...,...,...,...,...,...,...,...,...,...,...,...,...
86299,ALCOHOL INVOLVED,False,Yes,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
86300,ALCOHOL INVOLVED,False,Yes,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
86301,ALCOHOL INVOLVED,False,Yes,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
86302,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,
86303,ALCOHOL INVOLVED,False,Yes,,NO IMPAIRMENT SUSPECTED,False,No,,NO IMPAIRMENT SUSPECTED,False,No,