## People Centered COS - Convert CDOT Data format (2007-2020) to the 2021+ data format 

 #### Part 1 - SCRATCH PAD --- (THIS NOTEBOOK) convert information on road condition, lighting, location, number of vehicles and people etc.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

### Load CDOT csvs

In [5]:
cdot_base_path = "/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/"

In [6]:
# Load CDOT Data from new data format (2021+) 

year_new = 2023
filename_new = f"CDOTRM_CD_Crash_Listing_-_{year_new}.xlsx"

full_path_new = cdot_base_path + filename_new
print(full_path_new)

cdot_new_pdf = pd.read_excel(full_path_new)
display(cdot_new_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2023.xlsx

,CUID,System Code,Rd_Number,Rd_Section,City_Street,Crash Date,Crash Time,Agency Id,City,County,...,TU-2 NM Safety Helmet,TU-1 NM Alcohol Suspected,TU-2 NM Alcohol Suspected,TU-1 NM Marijuana Suspected,TU-2 NM Marijuana Suspected,TU-1 NM Other Drugs Suspected,TU-2 NM Other Drugs Suspected,Record Status,Processing Status,Last Updated
0,296027,City Street,0455,VERMO,TIMBE,2023-01-01,00:00:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Aug 4 2023 11:35PM
1,299624,City Street,0455,HARMO,TIMBE,2023-01-01,00:03:00,FTCPD,FORT COLLINS,LARIMER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Apr 6 2023 10:08PM
2,289075,City Street,0320,KALAM,CEDAR,2023-01-01,00:09:00,DPD,DENVER,DENVER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 8 2023 8:29PM
3,293978,City Street,0055,LINVA,LARED,2023-01-01,00:16:00,AURPD,AURORA,ARAPAHOE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,May 5 2023 8:02PM
4,299717,State Highway,095A,12.906,NaN,2023-01-01,00:34:00,WMPD,WESTMINSTER,JEFFERSON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coded,Completed,Feb 15 2023 1:35PM

In [7]:
# Load CDOT Data from old data format (2007-2020) 

year = 2007
filename_old = f"CDOTRM_CD_Crash_Listing_-_{year}.xlsx"

full_path_old = cdot_base_path + filename_old
print(full_path_old)

cdot_old_pdf = pd.read_excel(full_path_old)
display(cdot_old_pdf.head(5))

/Users/haley.northrup/Desktop/PeopleCenteredCOS/cdot_data/CDOTRM_CD_Crash_Listing_-_2007.xlsx

,SYSTEM,RTE,SEC,MP,DATE,TIME,SEVERITY,INJURY 00,INJURY 01,INJURY 02,...,DRVINJ_1,DRVINJ_2,DRVINJ_3,DUI_1,DUI_2,DUI_3,CITY,COUNTY,LATITUDE,LONGITUDE
0,CITY STREET,0,NaN,0.0,2007-01-01,0.0,PDO,2,0,0,...,NO INJURY,NO INJURY,NaN,N,N,N,FORT COLLINS,LARIMER,40.55955,-105.045929
1,CITY STREET,0,NaN,0.0,2007-01-01,0.0,PDO,1,0,0,...,NO INJURY,NaN,NaN,N,N,N,PARKER,DOUGLAS,39.51831,-104.774870
2,CITY STREET,0,NaN,0.0,2007-01-01,0.0,PDO,1,0,0,...,NaN,NO INJURY,NaN,N,N,N,DENVER,DENVER,39.66372,-105.075380
3,INTERSTATE,70,A,387.3,2007-01-01,2.0,PDO,7,0,0,...,NO INJURY,NO INJURY,NaN,N,N,N,NaN,LINCOLN,39.28565,-103.196810
4,CITY STREET,0,NaN,0.0,2007-01-01,10.0,PDO,4,0,0,...,NO INJURY,NO INJURY,NaN,N,N,N,AURORA,ARAPAHOE,39.65800,-104.777000

### Create a new dataframe to be converted

In [9]:
# Make a copy to edit
cdot_old_converted_pdf = cdot_old_pdf

###  Convert Road Number, Section, Street

##### Rd_Number, Rd_Section, City_Street

In [10]:
# Convert SYSTEM (old column) to System Code (new column)
old_column = 'SYSTEM'
new_column = 'System Code'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column].str.lower().str.title()
print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

Old format SYSTEM ['CITY STREET' 'INTERSTATE' 'COUNTY ROAD' 'STATE HIGHWAY' 'FRONTAGE ROAD']
New format System Code ['City Street' 'State Highway' 'Interstate Highway' 'County Road'
 'Frontage Road']
Old converted format System Code ['City Street' 'Interstate' 'County Road' 'State Highway' 'Frontage Road']

In [11]:
# REVISIT **** - RTE, SEC, MP -- Rd_Number and Rd_Section 
# Convert RTE (old column) to Rd_Number (new column)

print(f"Old format SEC", cdot_old_pdf["SEC"].unique())
print(f"Old format RTE", cdot_old_pdf["RTE"].unique())
print(f"Old format MP", cdot_old_pdf["MP"].unique())

print(f"New format Rd_Number", cdot_new_pdf["Rd_Number"].unique())
print(f"New format Rd_Number", cdot_new_pdf["Rd_Section"].unique())

Old format SEC [nan 'A' 'B' 'D' 'C' 'G' 'F' 'H' 'J' 'Z' 'K' 'E' 'L' 'N' 'M' 'W' '8' '9'
 'd']
Old format RTE [  0  70  25 402  36 285  88  76 287   6 119   2  30  40  95  24  21  34
   9 121  86  85  13  83  75   7  82  50 550  74 470 225 160  66 145  64
 391  14 340  65  47  26 227  35 265  72  45  96 157 128  52  91 177 224
 172  10  53 105 115 141 138 392  56  42 131 394 125   1  79  92 270  94
  60  16  84 491  17 133  12 151  93 385 114  71 109 139 348 113   3  63
   8 135  15  62 184 257 167  90 140 159  58  78 165 149  67  39 144 170
  44 120 263 291 233 350 183 196 134  69 116 318 330 127 194  22  61 142
 202  59 112 266 999 325 150  46 136 317 101 370   5 103 368  97  89 347
 300 256 239 389 207]
Old format MP [  0.   387.3   98.58 ...  20.67 244.23 103.47]
New format Rd_Number ['0455' '0320' '0055' '095A' '025A' '1085' '088A' '470A' '006B' '0570'
 '1100' '0145' '040C' '036B' '006G' '4800' '1200' '082A' '076A' '002A'
 '026B' '0240' '0600' '5400' '024A' '088B' '030A' '0800' '070A' '0700'
 '036C' '009C' '016A' '3700' '009D' '1500' '040A' '045A' '0830' '285D'
 '0540' '114A' '0350' '0130' '2400' '0175' '1280' '0400' '069A' '0045'
 '1000' '0475' '1038' '006F' '006D' '3100' '072A' '4700' '550B' '0900'
 '121A' '0330' '0820' '0415' '0580' '0927' '083A' '0245' '160A' '0110'
 '225A' '287C' '034D' '034A' '0945' '050B' '2300' '0300' '040H' '017A'
 '006E' '145A' '0465' '1250' '141B' '285A' '010A' '1380' '1235' '1285'
 '085C' '2000' '070B' '0555' '085A' '050A' '064A' '550A' '0270' '085B'
 '1355' '024G' '060B' '066B' '470N' '128A' '009B' '2500' '177A' '014B'
 '040B' '084A' '0125' '065A' '039A' '0817' '044A' '1135' '0385' '1223'
 '340A' '5200' '491B' '0185' '1195' '2800' '470B' '096C' '0910' '034B'
 '318A' '287A' '119C' '092A' '157A' '5000' '2200' '0590' '391A' '070Z'
 '007D' '350A' '021A' '096A' '047A' '119B' '402A' '0735' '003A' '0059'
 '0430' '287B' '6100' '0535' '2900' '224A' '0745' '0390' '0040' '1900'
 '0490' '3200' '4200' '0015' '0760' '115A' '285B' '1360' '024H' '052A'
 '1125' '0810' '074A' '1086' '128B' '184B' '0395' '2600' '1055' '0825'
 '091A' '0813' '093A' '007C' '1600' '257A' '127A' '013B' '119A' '0060'
 '3400' '1375' '144A' '125A' '0765' '1400' '4400' '042A' '0200' '270A'
 '105A' '2100' '006J' '094A' '139A' '014C' '392A' '021B' '270B' '0193'
 '1330' '0210' '067F' '007B' '0470' '071A' '5300' '0315' '4300' '096B'
 '0180' '1290' '4500' '3900' '141A' '0380' '0715' '0086' '006H' '131B'
 '013A' '392B' '0255' '0690' '2700' '0090' '0530' '008A' '1005' '142A'
 '133A' '052B' '040Z' '086B' '5700' '085H' '071D' '196A' '165A' '1378'
 '3800' '160Z' '0550' '3600' '135A' '0435' '006M' '4900' '291A' '1306'
 '1325' '5100' '140A' '385C' '0885' '0940' '085L' '3000' '3300' '0915'
 '159A' '1300' '0080' '0660' '0595' '1255' '1800' '050C' '285C' '009A'
 '006A' '006N' '0248' '036E' '0650' '0050' '0075' '059B' '001A' '109A'
 '0150' '134A' '063A' '024C' '0370' '0052' '4100' '079A' '287Z' '0500'
 '172A' '1363' '071F' '0097' '015B' '034Z' '085G' '0710' '1160' '089A'
 '0925' '0295' '058A' '067D' '014A' '079B' '0665' '265B' '1015' '121B'
 '103A' '023A' '0250' '1270' '325A' '017B' '491A' '085F' '0505' '006K'
 '194A' '3500' '207A' '0381' '070G' '0405' '056B' '470W' '0970' '036D'
 '071C' '090B' '0120' '086A' '024B' '1395' '0865' '113A' '149A' '151A'
 '160C' '059A' '0333' '0775' '5600' '4000' '0477' '0630' '0388' '002D'
 '050Z' '112A' '0280' '116A' '0850' '015A' '0066' '1700' '075B' '035A'
 '0450' '385D' '4600' '006L' '0935' '072B' '067A' '090A' '0061' '006C'
 '062A' '1225' '348A' '136A' '6000' '330A' '025C' '0485' '265A' '0615'
 '170A' '371A' '0875' '060A' '078A' '050D' '085E' '394A' '071B' '0480'
 '167A' '0985' '025A ' '070L' '0010' '385A' '0640' '012A' '024F' '0260'
 '071E' '184A' '053A' '1150' '067E' '0065' '024E' '007A' '0451' '239A'
 '096D' '105B' '1020' '120A' '0560' '0755' '0696' '024H ' '036A' '0965'
 '138A' '055A' '370A' '1295' '091C' '0920' '0790' '011A' '0155' '061A'
 '0160' '1385' '013C' '0420' '024I' '0730' '1299' '0610' '0695' '491B '
 '231A' '1210' '0525' '0575' '0195' '1059' '1046' '0105' '046A' '0454'
 '0960' '266A' '0184' '034C' '0237' '347A' '109B' '101A' '1345' '024D'
 '0360' '025B' '1310' '0621' '0750' '5900' '0440' '022A' '078B' '368A'
 '160?' '5800' '1220' '1350' '1120' '067B' '150A' '0026' '1276' '0770'
 '067C' '034' '0845' '070E' '1383' '1035' '0335' '491C' '0165' '5500'
 '0063' '257B' '0880' '0711' '0655' '1170' '070M' '1165' '036Z' '6300'
 '070O' '0305' '040E' '0027' '0235' '183A' '0617' '1344' '0322' '300A'
 '0345' '1260' '0835' '0241' '6200' '070R' '131A' '0355' '1037' '0542'
 '070K' '1240' '227A' '34A' '385B' '202A' '1115' '0223' '0417' '0751'
 '0163' '0780' '0095' '1049' '0416' '1091' '057A']
New format Rd_Number ['VERMO' 'HARMO' 'KALAM' ... '212.732' '67.900' '1.904']

In [12]:
cdot_old_pdf.loc[cdot_old_pdf['SYSTEM'] == 'CITY STREET', ['SYSTEM', 'MP', 'SEC', 'RTE', 'LOC_01', 'LOC_02']]

             SYSTEM   MP  SEC  RTE            LOC_01          LOC_02
0       CITY STREET  0.0  NaN    0  1720 KIRKWOOD DR        1700 BLK
1       CITY STREET  0.0  NaN    0           MAIN ST  TWENTY MILE RD
2       CITY STREET  0.0  NaN    0      SAULSBURY ST          2803 S
4       CITY STREET  0.0  NaN    0   DARTMOUTH AVE E       S WACO ST
9       CITY STREET  0.0  NaN    0          20TH AVE        PEARL ST
...             ...  ...  ...  ...               ...             ...
112179  CITY STREET  0.0  NaN    0       LOWELL BLVD        14TH AVE
112180  CITY STREET  0.0  NaN    0        LINCOLN ST        17TH AVE
112185  CITY STREET  0.0  NaN    0           26TH ST        13TH AVE
112187  CITY STREET  0.0  NaN    0       KALAMATH ST        11TH AVE
112190  CITY STREET  0.0  NaN    0         KENTON ST   DARTMOUTH AVE

[50587 rows x 6 columns]

In [13]:
cdot_new_pdf.loc[cdot_new_pdf['System Code'] == 'City Street', ['System Code', 'Rd_Number', 'Rd_Section', 'Location 1', 'Location 2']]

        System Code Rd_Number Rd_Section        Location 1       Location 2
0       City Street      0455      VERMO        VERMONT DR         2212 BLK
1       City Street      0455      HARMO      E HARMONY RD  S TIMBERLINE RD
2       City Street      0320      KALAM     S KALAMATH ST      W CEDAR AVE
3       City Street      0055      LINVA     E LINVALE AVE      S LAREDO ST
6       City Street      1085      6THST         W 6TH ST        N MAIN ST
...             ...       ...        ...               ...              ...
102160  City Street      0320      LOGAN        S LOGAN ST    E ALAMEDA AVE
102161  City Street      0320      LOGAN        S LOGAN ST    E ALAMEDA AVE
102162  City Street      0590      BOULE    S BOULEVARD ST     SAN JUAN AVE
102164  City Street      0415      MOUNT  MOUNTAIN VIEW DR         3722 BLK
102165  City Street      1085      KINGS   1609 KINGSROYAL         ARCH WAY

[43382 rows x 5 columns]

In [14]:
cdot_old_pdf.loc[cdot_old_pdf['SYSTEM'] == 'INTERSTATE', ['SYSTEM', 'MP', 'SEC', 'RTE','LOC_01', 'LOC_02']]

            SYSTEM      MP SEC  RTE          LOC_01               LOC_02
3       INTERSTATE  387.30   A   70            I-70               MM 387
6       INTERSTATE   98.58   A   25  I-25 (100 BLK)              100 BLK
18      INTERSTATE  212.01   A   25            I-25              20TH ST
21      INTERSTATE   10.07   A   76            I-76             88TH AVE
53      INTERSTATE  100.09   A   25  I-25 SB 2100 N            EXIT 100A
...            ...     ...  ..  ...             ...                  ...
112137  INTERSTATE  223.05   A   25       120TH AVE  SB HWY I-25 ON RAMP
112150  INTERSTATE  212.73   A   25            I-25   E 38TH AVE ON RAMP
112181  INTERSTATE  174.00   A   70            I-70               MM 174
112182  INTERSTATE  264.34   A   70        32ND AVE      I-70 WB ON RAMP
112188  INTERSTATE  174.00   A   70            I-70                MM174

[14156 rows x 6 columns]

In [16]:
cdot_new_pdf.loc[cdot_new_pdf['System Code'] == 'Interstate Highway', ['System Code', 'Rd_Number', 'Rd_Section', 'Location 1', 'Location 2']]

,System Code,Rd_Number,Rd_Section,Location 1,Location 2
5,Interstate Highway,025A,227.35,15500 I-25 NB,MM 227.35
25,Interstate Highway,025A,143,I-25 NB,MM 143
28,Interstate Highway,025A,141.30,I-25 SB EXIT RAMP,W CIMARRON ST
29,Interstate Highway,076A,16.47,I-76,HWY 2
39,Interstate Highway,025A,98.99,I-25,MM 99
...,...,...,...,...,...
102119,Interstate Highway,270A,4.729,I-270 EB OFF RAMP,N NORTHFIELD QUEBEC ST
102122,Interstate Highway,025A,212.202,I-25,20TH ST
102130,Interstate Highway,070A,244.343,I-70,MM 244.343
102150,Interstate Highway,025A,212.737,PARK AVE W,I-25 NB RAMPS
102151,Interstate Highway,025A,212.732,PARK AVE W,I-25 EB RAMPS

In [17]:
cdot_old_pdf.loc[cdot_old_pdf['SYSTEM'] == 'COUNTY ROAD', ['SYSTEM', 'MP', 'SEC', 'RTE','LOC_01', 'LOC_02']]

             SYSTEM   MP  SEC  RTE           LOC_01            LOC_02
5       COUNTY ROAD  0.0  NaN    0  SHADOW ROCK RUN  SLEEPING BEAR TR
11      COUNTY ROAD  0.0  NaN    0       HILLTOP RD    FLINTWOOD RD S
13      COUNTY ROAD  0.0  NaN    0        COPPER RD            HWY 91
17      COUNTY ROAD  0.0  NaN    0            CR 17            TRILBY
20      COUNTY ROAD  0.0  NaN    0            CR 81             CR 78
...             ...  ...  ...  ...              ...               ...
112171  COUNTY ROAD  0.0  NaN    0        MONROE WY           84TH DR
112176  COUNTY ROAD  0.0  NaN    0         68TH AVE         WARREN DR
112177  COUNTY ROAD  0.0  NaN    0             K RD         22 1/2 RD
112184  COUNTY ROAD  0.0  NaN    0  WITTER GULCH RD        STAGECOACH
112189  COUNTY ROAD  0.0  NaN    0   ACRES GREEN DR        SCORPIO DR

[9707 rows x 6 columns]

In [18]:
cdot_new_pdf.loc[cdot_new_pdf['System Code'] == 'County Road', ['System Code', 'Rd_Number', 'Rd_Section', 'Location 1', 'Location 2']]

        System Code Rd_Number Rd_Section          Location 1    Location 2
14      County Road      1100      BELLE     W BELLEVIEW AVE  RED DEER TRL
18      County Road      1100      SHADO  SHADOW MOUNTAIN DR  S WARHAWK RD
22      County Road      4800      PAGOS       N PAGOSA BLVD   CAPITAN CIR
24      County Road      1200      PECOS            PECOS ST    W 76TH AVE
35      County Road      0600      LARIM               CR 43    H BAR G RD
...             ...       ...        ...                 ...           ...
102121  County Road      0700      BOULD        S BOULDER RD       68TH ST
102124  County Road      0800      SUNSE     SUNSET HILLS RD       190 BLK
102129  County Road      1000      ARAPA         ARAPAHOE RD    3000 BLK E
102153  County Road      0600       CR43               CR 43  MACGREGOR RD
102163  County Road      1200      PECOS            PECOS ST    ELMWOOD LN

[9721 rows x 5 columns]

In [19]:
cdot_old_pdf.loc[cdot_old_pdf['SYSTEM'] == 'STATE HIGHWAY', ['SYSTEM', 'MP', 'SEC', 'RTE','LOC_01', 'LOC_02']]

               SYSTEM      MP SEC  RTE             LOC_01             LOC_02
7       STATE HIGHWAY    1.00   A  402         14TH ST SE  CR 11H (BOISE ST)
8       STATE HIGHWAY   25.10   B   36             HWY 36              MM 25
15      STATE HIGHWAY  259.15   D  285            HWY 285             MM 259
16      STATE HIGHWAY   17.13   B   88        S BOSTON ST      E ARAPAHOE RD
23      STATE HIGHWAY  346.45   C  287  COLLEGE AVE S 232           OLIVE ST
...               ...     ...  ..  ...                ...                ...
112160  STATE HIGHWAY   35.28   A   82             HWY 82     BRUSH CREEK RD
112162  STATE HIGHWAY    1.49   A   88       FEDERAL BLVD            1ST AVE
112170  STATE HIGHWAY  206.01   B   85        SANTA FE DR       W OXFORD AVE
112183  STATE HIGHWAY  346.22   C  287        MULBERRY ST        COLLEGE AVE
112186  STATE HIGHWAY    1.31   A   45        PUEBLO BLVD        PRAIRIE AVE

[37310 rows x 6 columns]

In [20]:
cdot_new_pdf.loc[cdot_new_pdf['System Code'] == 'State Highway', ['System Code', 'Rd_Number', 'Rd_Section', 'Location 1', 'Location 2']]

          System Code Rd_Number Rd_Section         Location 1   Location 2
4       State Highway      095A     12.906    N SHERIDAN BLVD    W 79TH ST
8       State Highway      088A      1.659  50 S FEDERAL BLVD  W ARCHER PL
9       State Highway      470A     17.000              C-470        MM 17
10      State Highway      006B     33.599          NORTH AVE        29 RD
13      State Highway      470A     17.000              C-470        MM 17
...               ...       ...        ...                ...          ...
102139  State Highway      470A      5.438              C-470     MM 5.438
102140  State Highway      030A      4.276        E ILIFF AVE  S HAVANA ST
102145  State Highway      092A      5.566             HWY 92     MM 5.566
102154  State Highway      050A     67.900             HWY 50     1375 BLK
102157  State Highway      125A      1.904            HWY 125     MM 1.904

[33844 rows x 5 columns]

In [21]:
cdot_old_pdf.loc[cdot_old_pdf['SYSTEM'] == 'FRONTAGE ROAD', ['SYSTEM', 'MP', 'SEC', 'RTE','LOC_01', 'LOC_02']]

,SYSTEM,MP,SEC,RTE,LOC_01,LOC_02
74,FRONTAGE ROAD,255.83,D,285,HAMPDEN FRONTAGE 6200 BLK,KENDALL ST
724,FRONTAGE ROAD,173.30,A,70,2399 N FRONTAGE RD,NaN
725,FRONTAGE ROAD,138.46,C,14,MULBERRY ST,SHERRY DR.
819,FRONTAGE ROAD,244.20,A,25,CR 32,I-25 FRONTAGE RD
822,FRONTAGE ROAD,236.70,A,25,I-25 FRNTG RD,COMMERCE DR
...,...,...,...,...,...,...
111381,FRONTAGE ROAD,278.05,G,6,6TH AVE W FRONTAGE RD N,URBAN CT
111901,FRONTAGE ROAD,245.22,A,25,CR 34,I-25 E FRONTAGE RD
111914,FRONTAGE ROAD,175.61,A,70,548 S FRONTAGE RD,WESTWIND
111919,FRONTAGE ROAD,173.94,A,70,N FRONTAGE RD W,BUFFEHR CREEK
112035,FRONTAGE ROAD,26.71,A,76,I-76 FRONTAGE RD,CO RD 4

In [22]:
cdot_new_pdf.loc[cdot_new_pdf['System Code'] == 'Frontage Road', ['System Code', 'Rd_Number', 'Rd_Section', 'Location 1', 'Location 2']]

,System Code,Rd_Number,Rd_Section,Location 1,Location 2
591,Frontage Road,070A,173.944,N FRONTAGE RD W,BUFFEHR CREEK RD
611,Frontage Road,070A,175.650,S FRONTAGE RD W,E LIONSHEAD CIRCLE
909,Frontage Road,025A,248.237,I-25 FRONTAGE RD,CR 40
1476,Frontage Road,070A,116.02,I-70 FRONTAGE RD,TRAVER TRL N
1654,Frontage Road,070A,178.500,FRONTAGE RD E,1600 BLK S
...,...,...,...,...,...
100913,Frontage Road,025A,274.382,I-25 FRT RD W,MM 274.382
101296,Frontage Road,076A,10.694,BRIGHTON RD,E 88TH AVE
101681,Frontage Road,070A,173.308,I-70 FRONTAGE RD S,CHAMONIX RD
101685,Frontage Road,025A,261.262,SW FRONTAGE RD,CR 30
101938,Frontage Road,025A,180.667,I-25 FRONTAGE RD W,PLUM CREEK PKWY

### Convert Crash Time Format

In [23]:
# Convert TIME (old column) to Crash Time (new column)
# TODO - convert float HHMM.SS to string HH:MM:SS
old_column = 'TIME'
new_column = 'Crash Time'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"Old format {old_column}", cdot_old_pdf[old_column].min())
print(f"Old format {old_column}", cdot_old_pdf[old_column].max())
display(cdot_old_pdf[old_column].head(200))
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())
display(cdot_new_pdf[new_column].head(200))

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

Old format TIME [0.000e+00 2.000e+00 1.000e+01 ... 2.339e+03 5.020e+02 3.460e+02]
Old format TIME 0.0
Old format TIME 2400.0

0         0.0
1         0.0
2         0.0
3         2.0
4        10.0
        ...
195    2144.0
196    2152.0
197    2200.0
198    2235.0
199    2240.0
Name: TIME, Length: 200, dtype: float64

New format Crash Time ['00:00:00' '00:03:00' '00:09:00' ... '05:59:00' '00:36:00' '03:34:00']

0      00:00:00
1      00:03:00
2      00:09:00
3      00:16:00
4      00:34:00
         ...
195    03:45:00
196    03:45:00
197    03:49:00
198    03:53:00
199    03:55:00
Name: Crash Time, Length: 200, dtype: object

### Convert Location

In [ ]:
# Convert LOCATION (old column) to Location (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'LOCATION'
new_column = 'Location'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Road Description

In [ ]:
# Convert ROAD_DESC (old column) to Road Description (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'ROAD_DESC'
new_column = 'Road Description'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Harmful Events

In [ ]:
# Convert EVENT_1 (old column) to First HE (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'EVENT_1'
new_column = 'First HE'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert EVENT_2 (old column) to Second HE (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'EVENT_2'
new_column = 'Second HE'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert EVENT_3 (old column) to Third HE (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'EVENT_3'
new_column = 'Third HE'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert MHE (old column) to MHE (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'MHE'
new_column = 'MHE'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Crash Type

In [ ]:
# Convert ACCTYPE (old column) to Crash Type (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'ACCTYPE'
new_column = 'Crash Type'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Number Injured

In [ ]:
# Convert INJURY 04 (old column) to Number Killed (new column)
# Rename Column
old_column = 'INJURY 04'
new_column = 'Number Killed'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert Combine a few columns (INJURY 02, INJURY 03) (old column) to Number Injured (new column)

# INSPECT INJURY 00, 01, 02, 03, 04

# Inspect how columns in new format are combined to get the "number injured" value. Then apply that to the old data format 

# Rename Column
#old_column = 'INJURY 04'
#new_column = 'Number Killed'

#print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
#print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column]
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Secondary Crash

In [ ]:
# Convert VEHICLES (old column) to Total Vehicles (new column)
# Rename Column + cast to float
old_column = 'VEHICLES'
new_column = 'Total Vehicles'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column].astype(float)
print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert None (old column) to Secondary Crash (new column)
# Is this true if the number of vehicles is greater than 2???

old_column = ''
new_column = 'Secondary Crash'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = cdot_old_pdf[old_column].astype(float)
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Contour Information

In [ ]:
# Convert COUNTOUR (old column) to Road Contour Curves (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'CONTOUR'
new_column = 'Road Contour Curves'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = None
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert COUNTOUR (old column) to Road Contour Grade (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'CONTOUR'
new_column = 'Road Contour Grade'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = None
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Road Condition

In [ ]:
# Convert CONDITION (old column) to Road Condition (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'CONDITION'
new_column = 'Road Condition'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = None
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Lighting Conditions

In [ ]:
# Convert LIGHTING (old column) to Lighting Condition (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'LIGHTING'
new_column = 'Lighting Conditions'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = None
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

### Convert Weather Conditions

In [ ]:
# Convert WEATHER (old column) to Weather Condition (new column)
# TODO - CONVERT EQUIVALENT WORDS
old_column = 'WEATHER'
new_column = 'Weather Condition'

print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

#cdot_old_converted_pdf[new_column] = None
#print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())

In [ ]:
# Convert No Column (old column) to Weather Condition (new column)
# Create empty column
old_column = ''
new_column = 'Weather Condition 2'

#print(f"Old format {old_column}", cdot_old_pdf[old_column].unique())
print(f"New format {new_column}", cdot_new_pdf[new_column].unique())

cdot_old_converted_pdf[new_column] = None
print(f"Old converted format {new_column}", cdot_old_converted_pdf[new_column].unique())